footer {
  background-color: $color-primary-black;
  padding-bottom: 40px;
  h4{
    font-size: 30px;
  }
  .nav-footer {
    padding: 20px 5%;
    a {
      color: $color-white;
    }
    .nav-footer-link {
      font-family: $font-univers-bold;
      margin-bottom: 20px;
      li {
        margin-right: 20px;
        a {
          /*font-size: 16px;*/
          font-size: 24px;
          color: $color-grey;
          &:hover {
            color: $color-primary-yellow;
          }
        }
      }
    }
    .footer-social {
      /*margin-bottom: 20px;*/
      margin-bottom: 40px;
      a {
        display: inline-block;
        /*width: 45px;
        height: 45px;*/
        width: 60px;
        height: 60px;
        margin-right: 5px;
        text-align: center;
        /*line-height: 45px;*/
        line-height: 60px;
        /*font-size: 18px;*/
        font-size: 30px;
        &.social-facebook {
          background-color: $color-facebook;
        }
        &.social-linkedin {
          background-color: $color-linkedin;
        }
        &.social-youtube {
          background-color: $color-youtube;
        }
      }
    }
    .logo-built {
      margin-bottom: 20px;
    }
    .copyright {
      color: $color-copyright;
      /*font-size: 12px;*/
      font-size: 16px;
      a {
        color: $color-copyright;
      }
    }
    .newsletter {
      .newsletter-title {
        color: $color-primary-yellow;
        font-family: $font-univers-bold;
        font-size: 30px;
        margin-bottom: 10px;
        //animation-duration: 1s;
        //animation-name: blink;
        //animation-iteration-count: infinite;
      }
      .newsletter-form {
        position: relative;
        width: 93%;
        input[type=text] {
          background-color: $color-primary-yellow;
          border: 0;
          padding: 10px 35px 10px 15px;
          width: 100%;
          @include borderRadius(0);
          color: $color-primary-black;
          font-weight: bold;
          font-size: 22px;
          &::-webkit-input-placeholder {
            color: $color-primary-black;
          }
          &:-moz-placeholder {
            color: $color-primary-black;
          }
          &::-moz-placeholder {
            color: $color-primary-black;
          }
          &:-ms-input-placeholder {
            color: $color-primary-black;
          }
        }
        .btn-submit {
          line-height: 52px;
          font-size: 16px;
          position: absolute;
          right: 15px;
          color: #000000;
          top: 0;
          width: auto;
          background-color: transparent;
        }
      }
    }
  }
}
@keyframes blink 
{
  from {
      opacity: 1;
  }
  to {
      opacity: 0.2;
  }
}