header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 126px;
  z-index: 98;
}
.toolbar-fixed.toolbar-horizontal {
  padding-top: 128px !important;
  &.toolbar-tray-open {
    padding-top: 209px !important;
    header {
      top:81px;
    }
  }
}
.nav-top {
  background-image: url(../images/yellow-top-bg.png);
  background-repeat: repeat-x;
  background-size: auto 30px;
  height: 30px;
  .nav-top-wrapper {
    float: right;
  }
  .nav-top-item {
    float: left;
    a {
      display: block;
      padding: 8px 20px;
      color: $color-primary-black;
      background-color: $color-primary-yellow;
      border-left: 1px solid $color-nav-top-border;
      border-right: 1px solid $color-nav-top-border;
      font-weight: bold;
      font-size: 16px;
      font-family: Arial;
    }
    &.nav-top-signin {
      a {
        border-left: none;
      }
    }
  }
}

.header {
  background-color: $color-primary-black;
  /*padding: 0 5%;*/
  li {
    padding: 31px 0;
  }
  a {
    color: $color-white;
    text-transform: uppercase;
    font-family: $font-univers-bold;
    font-size: 26px;
  }
  .logo {
    padding: 15px 0;
    margin-right: 6%;
    float:left;
    img {
      max-width: 246px;
    }
  }
  .nav-menu {
    float: left;
    margin-bottom: 0;
    li {
      margin-right: 0;
      z-index: 76;
      a {
        padding: 36px 22px;
        &:hover {
          color: $color-primary-yellow;
        }
      }
      ul {
        padding: 10px 0;
        background-color: $color-nav-child-bg;
        li {
          a {
            padding: 10px 20px;
            text-transform: none;
            font-family: $font-body;
            font-weight: 400;
            font-size: 18px;
            border: 1px solid transparent;
            letter-spacing: 0.433px;
            &:hover {
              font-weight:bold;
              letter-spacing: 0;
            }
          }
          ul {
            li {
              a {
                padding: 10px 0 10px 20px;
              }
            }
          }
        }
      }
    }
    &>li {
      &.active-trail {
        & > a {
          color: $color-primary-yellow;
        }
      }
      &.menuparent {
        &.sfHover {
          &>a {
            color : $color-primary-yellow;
          }
        }
      }
      &>ul {
        margin-top: 53px;
        &>li {
          position: relative;
          &.active-trail {
            & > a {
              color: $color-primary-yellow;
              font-weight: bold;
            }
          }
          &.menuparent {
            border: 1px solid transparent;
            &.sfHover {
              border-color: $color-primary-yellow;
              &>a {
                font-weight:700;
                color: $color-primary-yellow;
                letter-spacing: 0;
              }
            }
            &>a {
              &:after {
                content: "\f105";
                font-size: 18px !important;
                margin-left: 10px;
                vertical-align: middle;
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                box-sizing: border-box;
                display: inline-block;
                font: normal normal normal 14px/1 FontAwesome;
                font-size: inherit;
                text-rendering: auto;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
                float: right;
              }
            }
          }
        }
        li {
          ul {
            top: -10px;
            left: calc(100% + 1px) !important;
          }
        }
      }
      &:nth-child(2) {
        &>ul {
          &>li {
            &>ul {
              @include columnCount(3);
              width: 38em !important;
              & > li {
                float: none;
                & > a {
                  line-height: 22px;
                }
              }
            }
            &:nth-child(2), &:nth-child(3) {
              &>ul {
                @include columnCount(2);
              }
            }
          }
        }
      }
      &:first-child {
        &>ul {
          min-width: 16em !important;
        }
      }
      &:nth-child(4) {
        &>ul {
          min-width: 19em !important;
        }
      }
    }
  }
  .nav-right {
    float: right;
    position: relative;
    .nav-right-item {
      display: inline-block;
      margin-bottom: 0;
      &.nav-lang {
        margin-bottom: 0;
        li {
          a {
            color: $color-white;
            font-size: 16px;
            line-height: 36px;
            &:hover {
              color: $color-primary-yellow;
            }
            &.session-active {
              color: $color-lang-active;
            }
          }
          &.active {
            color: $color-lang-active;
            text-transform: uppercase;
            font-family: $font-univers-bold;
            font-size: 16px;
            line-height: 36px;
          }

        }
        .separator {
          font-size: 20px;
          vertical-align: top;
          color: $color-lang-active;
          padding: 34px 0;
        }
      }
      &.nav-search-icon {
        margin-left: 40px;
        #btn-search {
          position: relative;
          z-index: 88;
          &:hover {
            color: $color-primary-yellow;
          }
        }
      }
    }
  }
  button {
    &.btn-menu-mobile {
      display: none;
    }
  }
  #dl-menu {
    display: none;
  }
}
.page-title-wrapper {
  h1 {
    margin-top: 12px;
    margin-bottom: 5px;
  }
}

.search-box {
  .gsc-control-cse {
    border: 0;
    padding: 10px;
    form.gsc-search-box {
      margin-bottom: 0;
    }
    input {
      &.gsc-search-button,
      &.gsc-search-button:hover,
      &.gsc-search-button:focus {
        background-color: transparent;
      }
    }
    input.gsc-input,
    .gsc-input-box,
    .gsc-input-box-hover,
    .gsc-input-box-focus {
      border: 0;
      box-shadow: none;
    }
    table.gsc-search-box {
      margin-bottom: 0;
    }
  }
}




