//right contact navigation
.right-contact {
  position: absolute;
  top:0;
  right: 0;
  z-index: 90;
  &:after {
    content: "";
    clear: both;
    display: table;
  }
  .right-contact-item {
    font-family: $font-univers-bold;
    text-align: center;
    background-color: $color-primary-yellow;
    padding: 10px;
    width: 100px;
    height: 100px;
    margin-top: 1px;
    color: $color-primary-black;
    display: block;
    float: right;
    clear: both;

    span {
      display: block;
    }
    .right-contact-link {
      display: block;
      color: $color-primary-black;
    }
    .contact-text {
      font-size: 16px;
      line-height: 19px;
      color: $color-primary-black;
    }
    .right-raq {
      .contact-icon {
        margin-top: 9px;
        margin-bottom: 10px;
        .icon-img {
          width: 23px;
          height: 23px;
          margin: 0 auto;
          background: url('../images/frontpage/contact-icon-pen.png') no-repeat;
          background-size: 100%;
          display: block;
        }
        i {
          font-size: 20px;
        }
      }
    }
    &.call-center {
      overflow: hidden;
      background-color: $color-primary-black;
      padding: 0;
      @include transition (700ms linear);
      .box-slide{
        position: relative;
        width: 410px;
        right: 0px;
        height: 100%;
        overflow: hidden;
        background-color: $color-primary-black;
        @include transition (700ms linear);
        .right-contact-link {
          text-align: center;
          display: block;
          float: left;
          padding: 10px 14px;
          background-color: $color-primary-yellow;
        }
        .big-number {
          color: $color-white;
          margin: 0;
          padding: 5px 0 6px 0;
          height: 100%;
          line-height: 87px;
        }
        &:after {
          content: "";
          display: table;
          clear: both;
        }
      }
      &:hover {
        background-color: $color-primary-black;
        width: 410px;
      }
      .contact-icon {
        font-size: 25px;
        margin-top: 2px;
        margin-bottom: 5px;
      }
      .contact-number {
        font-size: 16px;
      }
    }
    &.right-live-chat {
      padding-bottom: 16px;
      .contact-icon {
        position: relative;
        width: 23px;
        margin: 12px auto 10px;
        color: $color-primary-black;
        i {
          font-size: 23px;
        }
        .contact-notif {
          font-size: 14px;
          font-family: $font-body;
          line-height: 23px;
          background-color: $color-white;
          position: absolute;
          top: -15px;
          right: -15px;
          width: 26px;
          height: 26px;
          @include borderRadius(50%);
          border: 2px solid $color-primary-yellow;
        }
      }
    }
    .find-us {
      padding-bottom: 20px;
      .contact-icon {
        font-size: 25px;
        margin-bottom: 5px;
        margin-top: 11px;
      }
    }
    &:hover {
      background-color: $color-hover-darken;
    }
  }
  .popup-call-center {
    display: none;
    width: 400px;
    top: 102px;
    position: absolute;
    right: 0;
    background-color: $color-primary-black;
    .right-contact-item {
      margin-top: 0;
    }
    .call-center {
      .contact-icon {
        font-size: 25px;
        margin-top: 2px;
        margin-bottom: 5px;
      }
      .contact-number {
        font-size: 24px;
      }
    }
    .contact-box{
      float: left;
    }
    .big-number {
      color: $color-white;
      text-align: center;
      float: left;
      margin: 0;
      padding: 0;
      line-height: 100px;
      width: 300px;
    }
  }
}

// Product
.landing-slogan {
  h2 {
    text-transform: uppercase;
    margin-bottom: 0;
  }
  h1 {
    color: $color-white;
    margin-top: 4px;
  }
}
.tabs-container {
  .panel-group {
    margin-bottom: 0;
    .panel {
      &:last-child{
        margin-bottom: 0;
      }
    }
  }
  .panel-heading {
    border: 0;
  }
  .panel-body {
    border: 10px solid $color-primary-yellow;
    padding: 12px;
    .tab-content {
      .img-thumb {
        overflow: hidden;
        position: relative;
        margin-bottom: 20px;
      }
      .img-title {
        position: absolute;
        bottom: 0px;
        line-height: 40px;
        font-weight: bold;
        background-color: rgba(230,230,230,0.8);
        padding: 0 12px 0 12px;
        width: 100%;
        height: auto;
      }
    }
  }
  .panel-heading {
    background-color: $color-primary-yellow;
    padding: 0;
    ul {
      li {
        &.tab-title{
          padding: 0;
        }
        background-color: $color-white;
        &.active {
          background-color: $color-primary-yellow;
          a {
            background-color: $color-primary-yellow;
            padding-top: 5px;
            color: $color-primary-black;
            border : 0;
            height: 60px;
            margin: 0;
            &:hover {
              background-color: transparent;
            }
          }
        }
        a {
          padding-top: 5px;
          color: rgb(153, 153, 153);
          padding: 0;
          font-weight: bold;
          text-align: center;
          text-transform: uppercase;
          line-height: 45px;
          &:hover {
            color: $color-primary-black;
            background-color: $color-white;
          }
        }
      }
    }
  }
}
.js-product-slider {
  .owl-controls {
    margin-top: -35px;
    background: rgba(255, 255, 255, 0.8);
    z-index: 100;
    position: absolute;
    width: 100%;
    .owl-dots {
      text-align: right;
      margin-right: 60px;
      .owl-dot {
        span {
          background: #9C9B99;
        }
      }
      .owl-dot {
        &.active {
          span {
            background: #fff;
            border: 1px solid #9C9B99;
          }
        }
      }
    }
  }
}
.btn-back {
  margin-top: 24px;
}
.product-detail-heading {
  .product-support {
    padding: 24px 0px 24px 0px;
    font-weight: bold;
    a {
      color: #000;
      border-bottom: 2px solid #000;
    }
    span {
      text-decoration: underline;
    }
  }
  .product-detail {
    .title {
      color: #666;
    }
    .value {
      color: $color-primary-black;
      font-weight: bold;
    }
  }
  .product-request {
    margin: 24px 0px;
  }
  .product-part-check {
    label {
      font-weight: bold;
    }
  }
  span {
    &.required {
      color: #ff0000;
    }
  }
  .product-download {
    margin-top: 24px;
    .form {
      margin-left: 42px;
      border-top: 1px solid $color-primary-black;
      padding-top: 15px;
      padding-bottom: 20px;
      .btn {
        margin-top: 5px;
      }
      .form-item {
        margin-bottom: 15px;
      }
    }
    .panel-group {
      &.border-style {
        .panel {
          .panel-heading {
            .panel-title {
              a {
                &.collapsed {
                  background-color: $color-primary-yellow;
                }
              }
            }
          }
        }
      }
    }
  }
}
.promotion-share {
  height: auto;
  overflow: hidden;
  .product-share {
    a {
      &.social-icon {
        display: inline-block;
        width: 40px;
        height: 40px;
        margin-right: 5px;
        text-align: center;
        line-height: 40px;
        font-size: 18px;
        color: $color-white;
      }
      &.social-facebook {
        background-color: $color-facebook;
      }
      &.social-linkedin {
        background-color: $color-linkedin;
      }
      &.social-twitter {
        background-color: $color-twitter;
      }
    }
  }
  .promotion {
    .promotion-badge {
      background: $color-promotion;
      border-radius: 20px;
      padding: 5px 20px;
      font-size: 20px;
      color: #fff;
    }
  }
  .st_facebook_large {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: $color-facebook;
    i {
      position: absolute;
      top: 50%;
      left: 50%;
      @include translate(-50%, -50%);
      color: $color-white;
      z-index: 87;
    }
    .stButton {
      margin: 0;
      position: relative;
      z-index: 88;
      background-color: transparent;
      .stLarge {
        position: relative;
        z-index: 88;
        background-image: none !important; /* overwrite inilne style */
        background-color: transparent;
        width: 40px;
        height: 40px;
      }
    }
  }
  .st_twitter_large {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: $color-twitter;
    i {
      position: absolute;
      top: 50%;
      left: 50%;
      @include translate(-50%, -50%);
      color: $color-white;
      z-index: 87;
    }
    .stButton {
      margin: 0;
      position: relative;
      z-index: 88;
      background-color: transparent;
      .stLarge {
        position: relative;
        z-index: 88;
        background-image: none !important; /* overwrite inilne style */
        background-color: transparent;
        width: 40px;
        height: 40px;
      }
    }
  }
  .st_linkedin_large {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: $color-linkedin;
    i {
      position: absolute;
      top: 50%;
      left: 50%;
      @include translate(-50%, -50%);
      color: $color-white;
      z-index: 87;
    }
    .stButton {
      margin: 0;
      position: relative;
      z-index: 88;
      background-color: transparent;
      .stLarge {
        position: relative;
        z-index: 88;
        background-image: none !important; /* overwrite inilne style */
        background-color: transparent;
        width: 40px;
        height: 40px;
      }
    }
  }
}
.breadcrumb-section {
  padding: 1% 0 1% 0;
}
.detail-header {
  margin-top: 15px;
  .product-image {
    text-align: center;
    img {
      width: 100%;
    } 
  }
  .slider {
    .owl-carousel {
      .owl-item {
        .item {
          text-align: center;
        }
        img {
          width: auto;
          display: inline-block;
        }
      }
    }
  }

}
.product-brochure {
  display: none;
  .table.tbl-spec {
    font-size: 14px;
    tr {
      th {
        width: auto;
        background-color: #f6f6f6;
        font-weight: bold;
        &:nth-child(2),&:nth-child(3) {
          text-align:center;
        }
      }
      td {
        &:first-child {
          background-color: #fff;
        }
        &:nth-child(2),&:nth-child(3) {
          text-align:center;
        }
        a {
          font-weight: bold;
        }
      }
    }
  }
  &.show {
    display: block;
  }
}
.product-feature {
  .table.tbl-spec {
    tr {
      td {
        width: 15%;
       &:first-child {
         width: 30%;
       }
      }
    }
  }
}
.tbl-header-compare {
  td {
    width: 15%;
    padding-right: 10px;
    &:first-child {
      width: 30%;
      vertical-align: top;
      padding-right: 100px;
    }
  }
}
.detail-menu{
  background-color: $color-primary-black;
  @include transition (700ms all linear);
  ul {
    line-height: 48px;
    text-align: center;
    li {
      margin-left: 12px;
      margin-right: 12px;
      a {
        @extend .size-h5;
        color: $color-white;
        font-weight: bold;
        display: block;
        padding: 20px 0;
        font-family: $font-univers-bold;
        &:hover {
          color: $color-primary-yellow;
        }
      }
      &.active {
        a {
          color: $color-primary-yellow;
        }
      }
    }
  }
}
.main-nav-scrolled {
  position: fixed;
  width: 100%;
  top: 30px;
  z-index: 99;
}
.panel-title {
  a {
    &:focus {
      text-decoration: none;
    }
    &:hover{
      color: $color-primary-black;
    }
  }
}
.panel-body {
  .content-body {
    .btn-black {
      margin-top: 2%;
    }
    ul {
      margin-left: 20px; 
    }
    p {
      margin-bottom: 0px;
      margin-top: 10px;
    }
  }
  .inner-container {
    margin-left: 46px;
    margin-right: 46px;
    padding-top: 24px;
    padding-bottom: 24px;
    border-top : 1px solid $color-primary-black;
    .title {
      font-weight: bold;
      margin-bottom: 0;
    }
    .content {
      text-align: justify;

    }
  }
}
.testimonial-container {
  .testimonial-item {
    margin-bottom: 36px;
    margin-top: 36px;
    padding-bottom: 36px;
    border-bottom: 1px solid $bg-grey;
    div {
      &.testimonial-content {
        margin-bottom: 0;
      }
      &.testimonial-title{
        font-weight: bold;
      }
      &.testimonial-company{
        margin-top: 24px;
      }
    }
  }
}

.video-container {
  text-align: center;
  margin-top: 24px;
  iframe {
    width: 825px;
    height: 550px;
  }
}
.no-margin {
  margin: 0;
}
.filter {
  .panel-group {
    .panel {
      .panel-heading {
        .panel-title {
          a {
            font-family: "univers-bold", sans-serif;
            span {
              left: 0px;
            }
            /*padding: 5px;*/
          }
        }
      }
    }
  }
  .panel-body {
    padding: 0 !important;
    ul {
      list-style: none;
    }
  }
  .form-control {
    width: auto;
  }
  .facet-item {
    margin-top: 2px;
    margin-bottom: 2px;
    position: relative;
    label {
      font-weight: normal;
      font-size: 16px;
      position: relative;
      cursor: pointer;
      &:before {
        content: "";
        position: absolute;
        top: 8px;
        left: 10px;
        width: 12px;
        height: 12px;
        text-align: center;
        @include borderRadius(2px);
        border: 1px solid #cccccc;
        display: inline-block;
        font: normal normal normal 11px/1 FontAwesome;
        font-size: 11px;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        background-color: $color-white;
        color: $color-primary-black;
      }
    }
    input {
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
    }
    &.active {
      background: #FFCC00;
      label {
        font-weight: bold;
        &:before {
          content: "\f00c";
        }
      }
    }
    ul {
      li {
        margin-left: 20px;
      }
    }
  }
}
.landing-menu-container {
  text-align: center;
  a {
    display: flex;
    align-items: center;
    border-bottom: 5px solid rgb(204, 204, 204);
    color: #000;
    font-weight: bold;
    height: 100px;
    vertical-align: middle;
    &:hover {
      text-decoration: none;
    }
    &:active {
      text-decoration: none;
    }
    &:focus {
      text-decoration: none;
    }
  }
}
.product-thumb-container {
  margin-top: 48px;
  .landing-image-thumb {
    img {
      width: 186px;
    }
  }
}
.landing-image-name {
  text-align: center;
}
.sort-by {
  font-size: 16px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  margin-bottom: 25px;
  ul {
    list-style-type: none;
    &>li {
      float: left;
      padding: 10px;
      text-align: center;
      &:first-child {
        font-weight: bold;
      }
      a {
        color: #555;
      }
    }
    &.dropdown-menu {
      top: auto;
      left: auto;
      float: inherit;
      &>li {
        float: inherit;
      }
    }
    &.unit-selector {
      li {
        &.active {
          border-top: 1px solid $color-primary-yellow;
          border-left: 1px solid $color-primary-yellow;
          border-right: 1px solid $color-primary-yellow;
          border-bottom: 5px solid $color-primary-yellow;
          margin-bottom: -5px;
          font-weight: bold;
          color: #515151;
        }
      }
    }
  }
  &.compare {
    border-top: none;
    ul {
      li {
        color: #515151;
        i {
          font-size: 22px;
          color: $color-primary-black;
          margin-right: 10px;
        }
      }
      &.unit-selector {
        li {
          border-top: 1px solid #eee;
          border-right: 1px solid #eee;
          border-bottom: 1px solid #eee;
          &:first-child {
            border: none;
            color: #515151;
            span.divider {
              color: $color-grey;
            }
          }
          &.active {
            border-top: 1px solid $color-primary-yellow;
            border-left: 1px solid $color-primary-yellow;
            border-right: 1px solid $color-primary-yellow;
            border-bottom: 5px solid $color-primary-yellow;
            margin-bottom: -5px;
            font-weight: bold;
            a {
              color: $color-primary-black;
            }
          }
        }
      }
    }
  }
}
.product-count{
  padding: 10px;
}
.product-list {
  margin-bottom: 48px;
  .product-item {
    ul {
      list-style-type: none;
    }
    a {
      color: $color-primary-black;
      display: block;
    }
    color: $color-primary-black;
    position:relative;
    min-height: 575px;
    border: 1px solid #ddd;
    margin-right: 0;
    margin-bottom: 20px;
    padding: 8px;
    .product-name {
      h5 {
        margin: 0 0 15px;
        height: 50px;
        padding: 0;
        text-transform: uppercase;
        a {
          color: $color-primary-black;
        }
      }
    }
    .product-image {
      width: 100%;
      min-height: 137px;
      margin-bottom: 20px;
      text-align: center;
      .promotion-badge {
        position: absolute;
        background: $color-promotion;
        @include borderRadius(20px);
        right: 20px;
        top: 62px;
        padding: 3px 15px;
        font-size: 0.7em;
        color: #fff;
      }
      img {
        max-height: 137px;
        margin-top: 15px;
      }
    }
    .product-detail {
      margin-bottom: 20px;
      min-height: 200px;
      .title {
        font-weight: normal;
        color: #666666;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .value {
        font-weight: bold;
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
    &:hover {
      border-color: #fc0;
      .product-action {
        display: block;
        .btn {
          &.btn-primary {
            &.btn-product {
              display: block;
            }
          }
        }
      }
    }
    .product-action {
      display: none;
      position: absolute;
      bottom: 10px;
      width: calc(100% - 16px); 
      .product-button {
        .btn {
          width: 100%;
        }
      }
    }
    &:hover {
      border: 1px solid $color-primary-yellow;
      .product-action {
        display: block;
      }
    }
  }
  .pager {
    text-align: left;
    margin: 0;
    li {
      display: block;
      &>a.btn {
        border-radius: 0;
        border: 0;
      }
    }
  }
  .btn-loadmore {
    margin-top: 48px;
  }
}
.top-title-page {
  &.search {
    border-bottom: 0;
  }
  h1 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 60px;
  }
  hr {
    margin-top: 0;
  }
}
.content-page {
  h3 {
    text-transform: uppercase;
  }
}
.js-training-slider {
  .owl-controls {
    margin-top: -35px;
    background: rgba(255, 255, 255, 0.8);
    z-index: 100;
    position: absolute;
    width: 100%;
    .owl-dots {
      text-align: right;
      margin-right: 60px;
      .owl-dot {
        span {
          background: #fff !important;
        }
      }
      .owl-dot {
        &.active {
          span {
            background: #9C9B99 !important;
          }
        }
      }
    }
  }
}
//comparison
.product-feature {
  h5 {
    font-family: $font-body;
    color: $color-sortby-button;
    font-weight: 700;
    font-size: 18px;
    margin-top: 0;
  }
}

// Service
.scroll-down {
  position: absolute;
  bottom: 30px;
  z-index: 97;
  width: 100%;
  .scroll-down-container{
    width: 450px;
    margin: 0px auto;
    position: relative;
  }
  a {

  }
  .image-text {
    background: rgba(0, 0, 0, 0.5);
    @include borderRadius(36px);
    position: relative;
    font-size: 20px;
    margin: 0px auto;
    color: #fff;
    font-weight: bold;
    padding: 2px 0px 2px 20px;
    line-height: 54px;
    height: auto;
    overflow: hidden;
    img{
      float: left;
      margin-right: 12px;
      padding-top: 5px;
    }
    .scroll-text {
      float: left;
    }
  }
}
.service-content-landing {
  height: 100%;
}
.section-landing {
  padding: 0;
  overflow: hidden;
  height: 262px;
  position: relative;
  &.section-landing-custom {
    height: auto;
  }
  .bg {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    &.bg-left {
      &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 50%;
        background: rgba(255, 255, 255, 0.9);
        z-index: 88;
      }
    }
    &.bg-right {
      &:before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: 50%;
        background: rgba(255, 255, 255, 0.9);
        z-index: 88;
      }
    }
    img {
      width: 100%;
      @include grayscale(100%);
    }
  }
  .landing-content-bottom {
    position: absolute;
    z-index: 89;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    h3 {
      margin-top: 0;
      text-transform: uppercase;
    }
    &.content-left {
      .section-item {
        padding-right: 40px;
      }
    }
    &.content-right {
      .section-item {
        padding-left: 40px;
      }
    }
    .product-thumb-container{
      margin-top: 20px;
      .landing-image-thumb{
        img{
          width: 120px;
        }
      }
    }
    .content-link {
      .landing-menu-container{
        margin-top: 20px;
        a{
          border-bottom: 7px solid rgb(204, 204, 204);
          color: $color-primary-black;
          font-family: $font-univers-bold;
          font-size: 22px;
          height: 90px;
          display: flex;
          align-items: center;
          justify-content: center;
          &:hover,
          &:active,
          &:focus {
            text-decoration: none;
          }
        }
      }
    }
  }
  .section-item {
    padding: 35px;
    
    h3 {
      margin-top: 0;
    }
  }
  .content {
    &.container {
        position: absolute;
        top: 0;
        left: 50%;
        @include translateX(-50%);
        z-index: 89;
    }
  }
}
.breadcrumb-section{
  padding-top: 1%;
  padding-bottom: 1%;
  background-color: $color-white;
  .breadcrumb{
    margin: 0;
  }
}
.bg-white{
  background: rgb(255, 255, 255);
  &.transparent{
    background: rgba(255, 255, 255, 0.9)
  }
}
.section-item{
  h3{
    text-transform: uppercase;
  }
  .landing-content-bottom {
    position: absolute;
    z-index: 89;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    h3 {
      margin-top: 0;
      text-transform: uppercase;
    }
    &.content-left {
      .section-item {
        padding-right: 40px;
      }
    }
    &.content-right {
      .section-item {
        padding-left: 40px;
      }
    }
    .product-thumb-container{
      margin-top: 20px;
      .landing-image-thumb{
        img{
          width: 120px;
        }
      }
    }
    .content-link {
      .landing-menu-container{
        margin-top: 20px;
        a{
          border-bottom: 7px solid rgb(204, 204, 204);
          color: $color-primary-black;
          font-family: $font-univers-bold;
          font-size: 22px;
          height: 90px;
          display: flex;
          align-items: center;
          justify-content: center;
          &:hover,
          &:active,
          &:focus {
            text-decoration: none;
          }
        }
      }
    }

  }
}

//Career
.relative {
  position: relative;
  /*height: 100%;*/
}
.img-landing {
  position: relative;
}

//career opportunities
.result-content {
  h3 {
    font-size: 36px;
  }
}
.top-title-page {
  border-bottom: 1px solid $section-border-color;
  .top-title-bg {
    position: absolute;
    z-index: 1;
    margin-bottom: -25px;
    img {
      @include grayscale(100%);
    }
  }
  .top-title-text {
    position: relative;
    z-index: 10;
    color: #fff;
    h1 {
      font-size: 45px;
    }
  }
}

.content-page {
  h2 {
    margin-top: 0;
    margin-bottom: 20px;
    text-transform: uppercase;
  }
  p {
    margin-bottom: 20px;
  }
  span.name {
    font-weight: 700;
  }
}

.sort-by-wrapper {
  border-bottom: 1px solid $section-border-color;
  margin-bottom: 32px;
  background-color: $color-white;
  position: relative;
  .result-info {
    font-weight: 700;
    margin-bottom: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    @include translate(-50%, -50%);
  }
}

.result-count {
  text-align: center;
  p {
    font-weight: 700;
    margin-bottom: 15px;
  }
}

.result-content {
  .result-item {
    overflow: hidden;
    padding: 20px;
    margin-bottom: 20px;
    @include transition (all 700ms linear);
    border: 1px solid $color-border-result-content;
    h4 {
      margin-top: 0;
    }
    h3 {
      margin: 0 0 20px 0;
    }
    a.btn {
      float: right;
      margin-top: -42px;
      display: none;
      opacity: 0;
      @include transition (all 700ms linear);
    }
    dl.result-field-content {
      margin-bottom: 0;
      dt {
        text-align: left;
        font-family: $font-body;
        color: $color-result-field;
        font-weight: 400;
        margin-top: 4px;
      }
      dd {
        font-weight: 700;
        margin-left: 140px;
        margin-top: 4px;
      }
    }
    &:hover {
      border: 1px solid $color-primary-yellow;
      a.btn {
        display: block;
        opacity: 1;
        @include transition (all 700ms linear);
      }
    }
  }
  .pager {
    text-align: left;
  }
}

.footer-result {
  padding: 40px 0 70px 0;
}

.content-body {
  padding: 0 40px 40px 40px;
  overflow: hidden;
  hr {
    margin-top: 0;
    border-color: $color-hr-black;
  }
}

.dev-thumb {
  margin-bottom: 40px;
  img {
    max-width: 90%;
  }
  h3 {
    color: $color-primary-black;
    margin-top: 0;
    margin-bottom: 20px;
    text-transform: uppercase;
  }
  &.middle {
    padding: 0 0;
  }
}

.core-value {
  a {
    img.img-responsive {
      max-width: 80%;
    }
  }
  h3 {
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 20px;
  }
  h4 {
    line-height: 18px;
  }
  .title {
    font-weight: bold;
    margin-top: 20px;
  }
  p {
    
  }
}

ul.certificate-list {
  border: 1px solid $color-border-result-content;
  border-top: none;
  border-right: 0;
  list-style: none;
  margin: 0;
  @include column(300px 2);
  @include column-gap(0);
  li {
    border-top: 1px solid $color-border-result-content;
    border-right: 1px solid $color-border-result-content;
    span {
      display: inline-block;
      text-align: center;
      padding: 10px 0;
      margin-bottom: -6px;
      &.num {
        float: left;
        width: 20%;
      }
       &.list-name {
        border-left: 1px solid $color-border-result-content;
        overflow: hidden;
        padding-left: 15px;
      }
    }
    &:last-child {
      border-bottom: 1px solid $color-border-result-content;
    }
  }
}

hr {
  &.grey {
    border: 1px solid #ddd;
  }
  &.hr-2x {
    border-width: 2px;
  }
}
.vision-mission {
  &.title {
    border-bottom: 2px solid #f4f4f4;
  }
  a {
    img.img-responsive {
      max-width: 80%;
      float: right;
    }
  }
  h3 {
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 20px;
  }
  h4 {
    font-size: 18px;
    line-height: 18px;
  }
  p {
    margin-bottom: 0;
  }
  hr {
    margin-top: 24px;
    margin-bottom: 40px;
    border-color: $color-hr-black;
  }
}

.grid-list {
  padding-bottom: 40px;
  &>a.btn {
    margin-top: 20px;
  }
  .grid-item {
    background-color: $color-white;
    border: 1px solid $frame-border-color;
    padding: 30px;
    margin-top: 20px;
    h4 {
      color: #000000;
      min-height: 108px;
    }
    .grid-item-cat {
      font-size: 22px;
      color: $color-orange;
      font-weight: 700;
      margin-bottom: 10px;
    }
    .grid-item-date {
      font-weight: 700;
      margin-top: 10px;
      color: $color-font-body;
    }
    .grid-item-desc {
      min-height: 75px;
      color: #000000;
    }
    .grid-item-video {
      .embed-responsive {
        padding-bottom: 70%;
      }
    }
    .gird-item-social {
      ul.list-inline {
        li {
          vertical-align: top;
          margin-top: 10px;
          &:first-child {
            width: 76px;
            overflow: hidden;
          }
          .jssocials {
            .jssocials-shares {
              margin: 0;
              .jssocials-share {
                margin-top: 0;
                margin-bottom: 0;
                .jssocials-share-link {
                  padding: .9em .9em;
                }
              }
            }
          }
        }
      }
    }
  }
}
#facebook {
  ._51m-._2pir._51mw {
    display: none !important;
  }
  #u_0_3 {
    display: none !important;
  }
}
._2tga._3e2a {
  height: 48px !important;
}

//About
.about-landing-wrapper {
  background: url(../images/about/img-header.jpg) no-repeat center center;
  background-size: cover;
  position: relative;
  overflow: hidden;
  padding: 70px 0 40px 0;
  .landing-content-wrapper {
    .landing-slogan {
      h2.landing-slogan-yellow {
        color: $color-primary-yellow;
        text-transform: uppercase;
      }
      h1.landing-slogan-white {
        color: $color-white;
        text-transform: uppercase;
      }
      .logo-built {
        margin-bottom: 20px;
      }
      a.btn {
        margin-bottom: 20px;
      }
    }
    .landing-submenu {
      .landing-sub-item {
        position: relative;
        float: left;
        .sub-text-wrapper {
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          padding: 10px;
          background-color: $bg-sub-text-wrapper;
          .sub-text-yellow {
            color: $color-primary-yellow;
            font-size: 22px;
            font-family: $font-univers-bold;
            text-transform: uppercase;
          }
          .sub-text-white {
            a {
              color: $color-white;
              font-size: 22px;
              font-family: $font-univers-bold;
              text-transform: uppercase;
            }
          }
        }
      }
    }

  }
  .breadcrumb {
    margin-top: 10px;
  }
}
.nav-tabs {
  &.history {
    li {
      a {
        color: $color-white;
      }
      &.active {
        a {
          color: $color-primary-black;
        }
      }
    }
  }
}
.about-content {
  img {
    max-width: 80%;
    float: right;
  }
  h3 {
    margin-top: 0;
    text-transform: uppercase;
  }
  p {
    margin-bottom: 10px;
  }
  span {
    font-weight: 700;
    display: inline-block;
  }
}

.thumb {
  ul {
    margin-bottom: 10px;
    li {
      font-weight: 700;
    }
  }
}

.about-footer {
  height: 422px;
  .footer-location-content {
    top: 22%;
    h3 {
      margin-bottom: 4px;
    }
    h2 {
      margin-top: 0;
    }
  }
}

.coprorate {
  h3 {
    margin-top: 0;
    text-transform: uppercase;
  }
  img {
    max-width: 80%;
  }
}

.bold {
  font-weight: bold;
}

.single-post {
  h3 {
    color: $color-primary-black;
  }
  .single-post-info {
    margin-bottom: 30px;
    padding-bottom: 20px;
    border-bottom: 1px solid $frame-border-color;
    overflow: hidden;
    .single-post-meta {
      float: left;
      overflow: hidden;
      &.single-date-wrapper {
        font-size: 22px;
      }
      &.post-date-wrapper {
        margin-right: 6%;
      }
      .single-post-label {
        float: left;
        line-height: 24px;
        margin: 12px 15px 12px 0;
      }
      .single-post-cat,
      .single-post-date {
        margin: 12px 0;
        /*font-size: 22px;*/
        font-weight: 700;
        line-height: 24px;
      }
      .single-post-cat {
        float: left;
        padding-right: 15px;
        color: #ff9900;
      }
      .single-post-date {
        float: left;
        padding-left: 15px;
        border-left: 2px solid $frame-border-color;
      }
    }
    .single-post-share {
      float: right;
    }
  }
  .single-post-content {
    margin-bottom: 100px;
    font-size: 22px;
    .content-post-slider {
      position: relative;
      margin-bottom: 30px;
      background-color: $color-news-bg;
      .post-slider-desc {
        padding: 30px 30px 30px 15px;
        font-weight: 700;
        color: $color-primary-black;
      }
      .owl-nav {
        margin-top: 0;
      }
      .owl-dots {
        position: absolute;
        bottom: 25px;
        right: 30px;
        .owl-dot {
          span {
            background-color: $slider_dot_inactive;
          }
          &.active {
            span {
              background-color: $slider_dot_active;
            }
          }
        }
      }
    }
    p {
      margin-bottom: 20px;
    }
    .next-post {
      margin: 50px 0;
      padding: 30px 0;
      font-weight: 700;
      border-top: 1px solid $frame-border-color;
      border-bottom: 1px solid $frame-border-color;
      overflow: hidden;
      .next-post-label {
        margin-bottom: 10px;
        font-size: 24px;
        line-height: 18px;
        color: $color-result-field;
      }
      .next-post-title {
        margin-bottom: 26px;
        font-size: 24px;
      }
      .next-post-img {
        text-align: right;
      }
    }
  }
  .sidebar {
    padding-left: 30px;
    .related-widget {
      h3 {
        margin-top: 0;
        margin-bottom: 20px;
        font-size: 30px;
        line-height: 30px;
      }
      .related-content {
        margin-bottom: 30px;
        padding-bottom: 30px;
        color: $color-result-field;
        border-bottom: 1px solid $frame-border-color;
        &:last-child {
          border-bottom: none;
        }
        .related-content-title {
          margin-bottom: 10px;
          /*font-size: 22px;*/
          font-weight: 700;
        }
        ul {
          list-style-type: none;
          li {
            padding-bottom: 5px;
            a {
              text-decoration: underline;
              color: $color-result-field;
            }
          }
        }
      }
    }
  }
}

.she-page {
  h3 {
    margin-bottom: 20px;
    text-transform: uppercase;
  }
  .she-related-info {
    .she-related-title {
      margin-top: 0;
      margin-bottom: 25px;
      font-weight: 700;
    }
  }
  .she-certification-table {
    margin-bottom: 100px;
    overflow-x: auto;
  }
}

.management-page {
  .management-header {
    position: relative;
    .management-header-desc {
      position: absolute;
      width: 100%;
      height: 100px;
      bottom: 0;
    }
  }
  .management-content {
    .management-commissioner {
      h3 {
        margin-bottom: 50px;
        text-transform: uppercase;
      }
      .board-commissioner {
        margin-bottom: 100px;
        .commissioner-row {
          margin: 0 -58px;
        }
        .commissioner-col {
          padding: 0 58px;
        }
        img {
          width: 100%;
          margin-bottom: 30px;
        }
        .commissioner-info {
          font-size: 22px;
          font-weight: 700;
        }
      }
    }
    .management-director {
      h3 {
        margin-bottom: 50px;
        text-transform: uppercase;
      }
      .board-director {
        .directore-list {
          margin-bottom: 50px;
          padding-bottom: 50px;
          border-bottom: 1px solid $frame-border-color;
          &:last-child {
            margin-bottom: 0;
          }
          img {
            width: 100%;
          }
          .director-info {
            padding-left: 20px;
            .director-title {
              font-size: 22px;
              font-weight: 700;
            }
            .director-resume {
              font-size: 22px;
            }
          }
        }
      }
    }
  }
}

.management-name-container {
  position: absolute;
  top: 13%;
  width: 100%;
  div {
    width: auto;
    background-color: rgba(0,0,0,0.6);
    color: #ffffff;
    padding: 10px;
    border: 1px solid #000000;
    position: absolute;
    display: none;
    &#map1 {
      left: 4%;
    }
    &#map2 {
      left: 15%;
    }
    &#map3{
      left: 22%;
    }
    &#map4 {
      left: 30%;
    }
    &#map5 {
      left: 32%;
    }
    &#map6 {
      right: 30%;
    }
    &#map7 {
      right: 25%;
    }
    &#map8 {
      right: 20%;
    }
    &#map9 {
      right: 10%;
    }
  }
}

.industry-page {
  h3 {
    margin-bottom: 20px;
    text-transform: uppercase;
  }
  .industry-tab {
    margin-top: 30px;
    ul {
      display: flex;
      flex-wrap: wrap;
      li {
        display: flex;
        a {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
    .content-body {
      ul {
        display: block;
        list-style-type: disc;
        li {
          display: list-item;
          a {
            display: inline;
            color: #000;
            font-weight: bold;
          }
        }
      }
    }
  }
  .industry-service-list {
    margin-bottom: 40px;
    padding-bottom: 40px;
    border-bottom: 1px solid $color-border-result-content;
    .industry-service-img {
      img {
        max-width: 500px;
        width: 100%;
      }
    }
    &:last-child {
      margin-bottom: 0;
      padding-bottom: 0;
      border-bottom: none;
    }
  }
  .footer-industry {
    top: 50%;
    transform: translateY(-50%);
    h2,
    h3 {
      margin: 0;
      text-transform: uppercase;
    }
    h2 {
      margin-bottom: 40px;
      font-size: 50px;
      line-height: 60px;
    }
    h3 {
      font-size: 45px;
      line-height: 55px;
      color: $color-primary-yellow;
    }
  }
}

.history-page {
  margin-bottom: -10px;
  .history-decade-nav {
    background-color: $color-primary-yellow;
    ul.nav {
      position: relative;
      padding: 30px 0;
      li {
        float: left;
        margin-right: 25px;
        width: 200px;
        display: block;
        padding: 0 0 20px 0;
        font-family: $font-univers-bold;
        font-size: 28px;
        line-height: 28px;
        text-align: center;
        color: $color-white;
        border-bottom: 10px solid rgba(255, 255, 255, 0.2);
        &.flex-active,
        &:hover {
          background-color: transparent;
          color: $color-primary-black;
          border-bottom-color: $color-white;
          cursor: pointer;
        }
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
  .decade-slide {
    position: relative;
    .yearly-slide {
      position: relative;
      .history-info {
        position: absolute;
        z-index: 89;
        width: 100%;
        top: 0;
        padding: 100px 0;
        .history-info-desc {
          font-size: 22px;
          color: $color-white;
          h3 {
            margin-top: 0;
            margin-bottom: 20px;
            color: $color-primary-yellow;
          }
          .btn {
            margin-top: 30px;
          }
        }
        .history-info-img {
          text-align: right;
          img {
            border: 10px solid $color-white;
            display: inline-block;
            width: auto;
            float: none;
            max-width: 480px;
          }
        }
      }
    }
    .history-year-nav {
      position: absolute;
      z-index: 89;
      width: 100%;
      bottom: 0;
      padding: 30px 0;
      text-align: center;
      background-color: rgba(0, 0, 0, 0.8);
      ul {
        position: relative;
        display: inline-block;
        vertical-align: middle;
        list-style-type: none;
        li {
          float: left;
          margin: 0 30px;
          padding: 0;
          font-family: $font-univers-bold;
          font-size: 24px;
          line-height: 24px;
          color: $color-white;
          a {
            color: #FFFFFF;
            &.active,
            &:focus,
            &:hover {
              color: $color-primary-yellow;
              background-color: transparent;
              cursor: pointer;
            }
          }
        }
      }
    }
  }
  .flex-direction-nav {
    display: none;
  }
}

.maps-wrapper {
  position: relative;
  overflow: hidden;
  #map-canvas {
    margin: 0;
    padding: 0;
    height: 750px;
  }
  .filter-container {
    position: relative;
    .location-filter { 
      position: absolute;
      left: 10px;
      width: 300px;
      .location-filter-wrapper {
        background-color: $color-primary-black;
        .filter-toggle {
          position: relative;
          padding: 15px;
          color: $color-grey;
          background-color: $color-nav-child-bg;
          &:hover {
            cursor: pointer;
          }
          span {
            position: absolute;
            top: 50%;
            right: 15px;
            transform: translateY(-50%);
            width: 16px;
            height: 9px;
            background-image: url('../images/filter-location-arrow-down.png');
          }
        }
        .filter-option {
          .panel-group {
            margin: 0;
            padding: 10px;
            .panel {
              margin: 0 0 20px 0;
              color: $color-white;
              background-color: $color-primary-black;
              .panel-heading {
                .panel-title {
                  a {
                    min-height: 0;
                    padding: 0 0 0 50px;
                    font-size: 18px;
                    span {
                      left: 0;
                      top: 3px;
                      background-image: url('../images/filter-collapse-minus.png');
                    }
                    &.collapsed {
                      span {
                        background-image: url('../images/filter-collapse-plus.png');
                      }
                    }
                  }
                }
              }
              .panel-body {
                padding: 0;
                .checkbox {
                  margin: 0;
                  label {
                    font-weight: normal;
                    color: $color-grey;
                  }
                  &.active {
                    label {
                      font-weight: 700;
                      color: $color-primary-black;
                    }
                    background-color: $color-primary-yellow;
                  }
                }
                .more-option-wrapper {
                  .more-option {
                    display: none;
                  }
                  .show-more {
                    padding: 0 30px 20px 30px;
                    a {
                      font-size: 16px;
                      text-decoration: underline;
                      color: $color-grey;
                      &:hover {
                        cursor: pointer;
                      }
                      span {
                        width: 12px;
                        height: 6px;
                        display: inline-block;
                        margin-left: 10px;
                        vertical-align: middle;
                        background-image: url('../images/more-arrow-down.png');
                      }
                    }
                  }
                  &.moreOpen {
                    .show-more {
                      a {
                        span {
                          background-image: url('../images/more-arrow-up.png');
                        }
                      }
                    }
                  }
                }
              }
              &:last-child {
                margin-bottom: 0;
              }
            }
          }
        }
        &.filterOpen {
          .filter-toggle {
            span {
              background-image: url('../images/filter-location-arrow-up.png');
            }
          }
        }
      }
    }
  }
  .location-info {
    position: absolute;
    top: 0;
    width: 100%;
    .location-info-wrapper {
      position: absolute;
      right: -520px;
      width: 520px;
      height: 100%;
      transition: .6s;
      -webkit-animation-name: mymove;
      -webkit-animation-duration: .6s;
      -webkit-animation-fill-mode: forwards;
      -webkit-animation-iteration-count: 1;
      -webkit-animation-timing-function: linear;
      .location-info-button {
        position: absolute;
        left: -50px;
        width: 50px;
        height: 80px;
        background-color: $color-primary-black;
        background-image: url('../images/info-location-arrow-left.png');
        background-position: center;
        background-repeat: no-repeat;
        &:hover {
          cursor: pointer;
        }
      }
      .location-info-detail {
        position: relative;
        height: 100%;
        background-color: $location-info-bg-color;
        .location-company {
          padding: 40px 120px 30px 30px;
          background-color: $color-primary-black;
          h3 {
            margin-top: 0;
            color: $color-primary-yellow;
          }
          .company-info {
            .company-info-list {
              position: relative;
              margin-bottom: 15px;
              &:last-child {
                margin-bottom: 0;
              }
              .company-info-icon {
                position: absolute;
                top: 0;
                left: 10px;
                &.location-icon {
                  width: 16px;
                  height: 24px;
                  background-image: url('../images/location-icon.png');
                }
                &.phone-icon {
                  width: 20px;
                  height: 20px;
                  background-image: url('../images/phone-icon.png');
                }
                &.phone-2-icon {
                  width: 22px;
                  height: 22px;
                  background-image: url('../images/phone-2-icon.png');
                }
                &.time-icon {
                  width: 22px;
                  height: 22px;
                  background-image: url('../images/time-icon.png');
                }
              }
              .company-info-text {
                margin-left: 50px;
                color: $color-white;
              }
            }
          }
        }
      }
      &.infoOpen {
        right: 0;
        .location-info-button {
          background-image: url('../images/info-location-arrow-right.png');
        }
      }
    }
  }
}

.map-result {
  .result-bar {
    padding: 30px 0;
    font-family: $font-univers-bold;
    font-size: 24px;
    border-bottom: 1px solid $color-border-black;
  }
  .result-info {
    padding: 30px 0 150px 0;
    .result-list {
      margin-bottom: 30px;
      overflow: hidden;
      &:last-child {
        margin-bottom: 0;
      }
      .result-category {
        margin-bottom: 5px;
        font-weight: 700;
        line-height: 18px;
        span.result-icon {
          width: 24px;
          height: 24px;
          margin-right: 20px;
          display: inline-block;
          vertical-align: middle;
          &.icon-head {
            background-image: url('../images/head-office-icon.png');
          }
          &.icon-branch {
            background-image: url('../images/branch-icon.png');
          }
        }
      }
      ul {
        position: relative;
        margin-left: 44px;
        list-style-type: none;
        li {
          float: left;
          margin-right: 20px;
          &:last-child {
            margin-right: 0;
          }
          a {
            text-decoration: underline;
            line-height: 30px;
            color: $color-primary-black;
            &.active {
              font-weight: 700;
            }
          }
        }
      }
    }
  }
}
// Quote Form
.required-sign {
  color: #ff0000;
}
.quote-form {
  .captcha-container {
    margin-bottom: 2%;
  }
  .input-group {
    width: 100%;
    textarea {
      width: 100%;
      padding: 10px;
    }
  }
  legend {
    margin-bottom: 0;
    border: 0;
  }
  .error {
    color: #ff0000;
  }
  input {
    .error {
      @include placeholderColor(#ff0000);
    }
  }
  margin-top: 18px;
  .group-input {
    margin-top: 0;
    & > label {
      background: $color-white;
      border: 1px solid #ddd;
      @include borderRadius(0);
      padding: 14px 16px 14px 30px;
      input {
        /*-webkit-appearance:none;*/
        border: none;
        opacity: 1;
      }
    } 
  }
  .checkbox {
    & > label {
      margin-bottom: 5px;
    }
    label {
      display: inline-table;
      font-size: inherit;
      font-weight: inherit;
    }
  }
}

.search-box {
  position:absolute;
  width: 78%;
  bottom: 10%;
  display: none;
  right: 0;
  overflow: hidden;
  padding: 10px 100px 10px 10px;
  background: $color-primary-black;
  z-index: 88;
  .search-container {
    background-color: transparent;
    position: relative;
    top: 0;
    width: auto;
    margin: 0;
    padding-right: 50px;
    input {
      width: 100%;
      border: 0;
      font-size: inherit;
    }
    form {
      position: relative;
      input[type="submit"] {
        position: absolute;
        top: 0;
        right: 0;
        width: 48px;
        height: 100%;
        z-index: 88;
        background: transparent;
        font-size: 0;
      }
      &:after {
        content: "\f002";
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        position: absolute;
        top: 50%;
        @include translateY(-50%);
        right: 18px;
        font-size: 20px;
        color: $color-primary-black;
        z-index: 87;
      }
    }
    .form-actions {
      padding: 0;
    }
  }
  #btn-search-close {
    position: absolute;
    top: 44%;
    right: 6px;
    @include translateY(-50%);
    z-index: 98;
    color: #cccccc;
  }
  .search-list {
    .search-list-container {
      h5 {
        color: #ccc;
        font-size: 16px;
      }
    }
  }
}
.search-result-text {
  background-color: $bg-grey;
  width: 100%;
  padding: 20px;
  .form-group {
    margin: 0;
  }
  form {
    position: relative;
    input {
      border: 0;
      box-shadow: none;
      @include borderRadius(0);
    }
    input[type="submit"] {
      position: absolute;
      top: 0;
      right: 0;
      width: 48px;
      height: 100%;
      z-index: 88;
      background: transparent;
      font-size: 0;
    }
    &:after {
      content: "\f002";
      display: inline-block;
      font: normal normal normal 14px/1 FontAwesome;
      font-size: inherit;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      position: absolute;
      top: 50%;
      @include translateY(-50%);
      right: 18px;
      font-size: 20px;
      color: $color-primary-black;
      z-index: 87;
    }
    .form-item-keys {
      label {
        display: none;
      }
    }
    .search-help-link {
      display: none;
    }
  }
  .form-actions {
    padding: 0;
  }
}
.search-content-wrapper {
  h2 {
    display: none;
  }
  .search-list {
    margin-top: 20px;
  }
  .pager {
    li {
      a {
        color: #333333;
        border: 1px solid transparent;
        padding: 7px 14px 5px;
      }
      &.is-active {
        a {
          border-color: #fc0;
          font-weight: bold;
        }
      }
      &.pager__item--next,
      &.pager__item--previous {
        a {
          padding: 3px 10px;
          vertical-align: middle;
        }
        span {
          font-size: 0;
          display: inline-block;
          font: normal normal normal 14px/1 FontAwesome;
          font-size: 0;
          text-rendering: auto;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
        }
      }
      &.pager__item--next {
        span:before {
          content: "\f105";
          font-size: 25px;
        }
      }
      &.pager__item--previous {
        span:before {
          content: "\f104";
          font-size: 25px;
        }
      }
      &.pager__item--first,
      &.pager__item--last {
        display: none;
      }
    }
  }
}
.search-count {
  line-height: 40px;
  margin-top: 15px;
  height: auto;
  overflow: hidden;
  .search-total {
    line-height: 56px;
    height: 60px;
  }
  &.top {
    border-bottom: 1px solid $color-grey;
    margin-bottom: 2%;
  }
  &.bottom {
    border: none;
  }
  .search-pagination {
    list-style: none;
    .pagerer-container {
      margin: 0;
    }
    input.pagerer-page {
      border: 1px solid $color-primary-yellow;
      height: 50px;
      line-height: 50px;
      padding-left: 10px;
    }
    li {
      height: 50px;
      line-height: 50px;
      float: left;
      min-width: 30px;
      text-align: center;
      font-weight: normal;
      &:first-child {
        font-size: 2em;
      }
      &:last-child {
        font-size: 2em;
      }
      a {
        border: 0;
        line-height: 45px;
        height: 50px;
        padding: 0 15px;
        display: block;
        color: $color-grey;
        &:hover,
        &:focus,
        &:active {
          background-color: transparent;
          color: $color-primary-yellow;
        }
      }
      &.pager__item--previous {
        span {
          font-size: 0;
          display: inline-block;
          font: normal normal normal 14px/1 FontAwesome;
          font-size: 0;
          text-rendering: auto;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
          &:before {
            content: "\f104";
            font-size: 30px;
          }
        }
      }
      &.pager__item--next {
        span {
          font-size: 0;
          display: inline-block;
          font: normal normal normal 14px/1 FontAwesome;
          font-size: 0;
          text-rendering: auto;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
          &:before {
            content: "\f105";
            font-size: 30px;
          }
        }
      }
      &.pagerer-suffix {
        span {
          border: 0;
          padding: 0 0 0 15px;
          line-height: 30px;
        }
      }
    }
  }
}
.search-item {
  border-bottom: 1px solid $color-grey;
  margin-bottom: 2%;
  padding-bottom: 2%;
  a {
    color: $color-font-body;
    h4 {
      color: $color-primary-black;
    }
  }
}

.promo-list {
  .product-count {
    border-bottom: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 30px;
  }
  .promo-item {
    margin-bottom: 20px;
    h5 {
      min-height: 52px;
      color: #000;
      margin-bottom: 15px;
    }
    .promo-detail {
      margin-top: 15px;
      span {
        display: inline-block;
        color: #333333;
      }
      .date-label {
        width: 115px;
      }
      .date-text {
        color: #000;
        font-weight: bold;
        &:before {
          content: "|";
          margin-right: 5px;
          font-weight: normal;
        }
      }
    }
  }
}

/*.page-title-wrapper {
  h1 {
    margin-bottom: 5px;
    margin-top: 5px;
  }
  hr {
    margin: 0;
  }
}*/
.form-actions {
  padding: 2% 0;
}
.modal {
  border-radius: 0px;
  .modal-dialog {
    border-radius: 0px;
    width: 80%;
  }
  .modal-body {
    padding: 0px 15px 15px 15px;
    h3 {
      color: $color-primary-yellow;
      text-transform: uppercase;
      margin-bottom: 24px;
    }
  }
  .modal-header {
    height: 0px;
    border-bottom: 0;
    span {
      font-size: 2em;
      font-weight: lighter;
      position: absolute;
      z-index: 99;
      right: 10px;
      top: 5px;
    }
  }
  iframe {
    border: 0;
  }
}
.modal-360 {
  .modal-dialog {
    width: 655px;
  }
  .modal-body {
    padding-top: 10px;
  }
}
.tab-link {
  margin-bottom: 10px;
  li {
    a {
      display: block;
      color: $color-primary-black;
      border: 1px solid $color-grey;
      padding: 10px;
      &:hover,&:focus,&:active {
        border-color: $color-primary-yellow;
        background-color: $color-primary-yellow;
      }
    }
    &.active {
      a {
        background-color: $color-primary-yellow;
        border-color: $color-primary-yellow;
      }
    }
  }
}
.thankyou-wrapper {
  .thankyou-item {
    margin-bottom: 10px;
    span {
      display: inline-block;
    }
    .thank-label {
      width: 155px;
    }
    .thank-text {
      font-weight: bold;
      color: #000;
    }
  }
  .thank-desc-text {
    margin-top: 15px;
  }
}
.news-item-cat,
.grid-item-cat,
.single-post-cat {
  display: none;
}
.promotion-content-hidden {
  display: none;
}
.promotion-popup-wrapper {
  position: fixed;
  top: -300px;
  opacity: 0;
  left: 0;
  z-index: 88;
  width: 100%;
  @include animationTiming(cubic-bezier(0, 1, 0.5, 1), 0.3s);
  &.show-down {
    top: 128px;
    opacity: 1;
    @include animationTiming(ease-in, 0.3s);
  }
  .promotion-popup-products {
    background-color: $color-primary-yellow;
    padding: 40px 0;
    position: relative;
    h1 {
      color: $color-primary-black;
      margin: 0;
      &.text-red {
        @extend .text-red;
      }
    }
    .text-title {
      @extend .size-h5;
      margin-top: 10px;
    }
    .btn {
      margin-top: 20px;
    }
    .close-link {
      position: absolute;
      top: 0;
      right: 0;
      z-index: 78;
      width: 23px;
      height: 23px;
      background: url('../images/close-icon-black.png') no-repeat;
    }
  }
}
.compare-products {
  background-color: #201f1f;
  padding: 30px 0;
  position: fixed;
  bottom: -300px;
  width: 100%;
  opacity: 0;
  @include animationTiming(cubic-bezier(0, 1, 0.5, 1), 0.3s);
  &.show-up {
    bottom: 0;
    opacity: 1;
    @include animationTiming(ease-in, 0.3s);
  }
  .compare-item {
    position: relative;
    .compare-title {
      background-color: #fc0;
      padding: 5px 20px;
      font-weight: bold;
      position: absolute;
      bottom: 0;
      width: 100%;
    }
    .compare-empty {
      width: 100%;
      color: #999999;
      .compare-empty-text {
        position: absolute;
        padding: 10px 0;
      }
    }
  }
  .compare-btn {
    height: 167px;
    display: table-cell;
    vertical-align: middle;
  }
  .link-underline {
    color: #ccc;
  }
}
.compare-close {
  position: absolute;
  top: 6px;
  right: 10px;
  ul {
    list-style-type: none;
  }
  .compare-remove {
    font-size: 0;
    background: url('../images/close-icon.png') no-repeat;
    width: 23px;
    height: 23px;
    display: block;
  }
}
.compare-warning {
  color: $color-primary-yellow;
  margin-bottom: 10px;
}
ul.admin-menu {
  display: inline-block;
  margin: 20px 0;
  li {
    &:first-child {
      padding-left: 0;
    }
    a {
      display: block;
      padding: 8px 20px;
      border: 1px solid $breadcrumb-color;
      color: $color-primary-black;
      background-color: $color-admin-menu;
      @extend .size-breadcrumb;
      &:hover,
      &.is-active {
        background-color: $color-white;
      }
    }
  }
}

.user-wrapper {
  .admin-menu {
    margin-top: 0;
    margin-bottom: 30px;
  }
  .form {
    .form-item {
      margin-bottom: 10px;
      .description {
        @extend .size-helper;
      }
    }
    .form-actions {
      padding-top: 5px;
    }
    .btn-default {
      background-color: #fc0;
    }
  }
}
[aria-label="Status message"] {
  color: #325e1c;
  border: 1px solid;
  border-color: #c9e1bd #c9e1bd #c9e1bd transparent;
  background: #f3faef url("../images/check.svg") 10px center no-repeat;
  box-shadow: -8px 0 0 #77b259;
  padding: 15px 15px 15px 35px;
  margin-bottom: 15px;
}
[aria-label="Error message"] {
  color: $color-red;
  margin-bottom: 10px;
  a {
    color: #000;
    &:hover {
      text-decoration: underline;
    }
  }
}
.js-cv-upload {
  .form-managed-file {
    [aria-label="Error message"] {
      visibility: hidden;
      position: absolute;
    }
    .form-file {
      opacity: 0;
      top: 10px;
      position: absolute;
    }
  }
  [aria-label="Error message"] {
    ul {
      li {
        margin-left: 20px;
        color: $color-red;
      }
    }
  }
  input[value="Remove"],
  input[value="Hapus"]{
    position: absolute;
    top: 6px;
    right: 15px;
    width: auto;
    &:hover,
    &:focus,
    &:active {
      background: $color-white;
    }
  }
  .file {
    a {
      position:absolute;
      top: 16px;
      left: 16px;
      color: #999999;
      pointer-events: none;
      background-color: $color-white;
      min-width: 50%;
    }
  }
  span.ajax-new-content {
    position: absolute;
  }
}
#newsletter-modal {
  input[type="checkbox"] {
    margin-top: 0;
    position: relative;
    top: -2px;
  }
}

.js-select-sortby {
  form {
    visibility: hidden;
    position: absolute;
  }
}

.form.confirmation {
  .form-actions {
    .btn-default {
      background-color: #fc0;
      float: left;
      margin-right: 15px;
    }
    #edit-cancel {
      @extend .size-btn-back;
      font-family: $font-univers-bold;
      display: block;
      text-align: center;
      color: black;
      border: 1px solid $color-grey;
      float: left;
    }
  }
  ul {
    margin-left: 20px;
  }
}

#firstpopup {
  background: #fff;
  padding: 5px;
  box-shadow: 5px 5px 5px #aaa;
  width: 60%;
  p {
    margin: 0;
  }
  h3 {
    position: absolute;
    bottom: 10px;
    left: 10px;
    a {
      color: $color-primary-yellow;
    }
  }
  img {
    width: 100%;
  }
  .firstpopup_close {
    position: absolute;
    right: 15px;
    top: 15px;
    background-color: transparent;
    box-shadow: none;
    border: none;
    background: url(/themes/custom/trakindo_2016/images/x.png) no-repeat;
    font-size: 0;
    width: 23px;
    height: 23px;
  }
}
.maps-wrapper {
  .views-exposed-form {
    display: none;
  }
}
#callcenter-modal {
  .modal-dialog {
    margin-top: 50%;
    width: 70%;
    margin: 50% auto 0;
  }
  .modal-content {
    border-radius: 30px;
    padding-top: 20px;
    background-color: rgba(255,255,255,0.9);
  }
  .modal-body {
    padding: 0;
    color: $color-primary-black;
  }
  .title {
    font-size: 18px;
    margin-bottom: 10px;
    padding: 0 20px;
  }
  .desc {
    padding: 0 20px;
  }
  .action {
    border-top: 1px solid #777;
    margin-top: 10px;
    overflow: hidden;
    a {
      color: #287af7;
      display: block;
      width: 50%;
      float: left;
      font-size: 18px;
      text-align: center;
      padding: 10px 0;
      &.cancel-btn {
        border-right: 1px solid #777;
      }
    }
  }

}