@media (max-width: 1717px) {
  .header {
    .logo {
      margin-right: 3%;
    }
    .nav-menu {
      li {
        a {
          padding: 36px 15px;
        }
      }
    }
  }
}
@media (max-width: 1440px) {
  .history-page {
    .history-decade-nav {
      ul {
        &.nav {
          li {
            font-size: 22px;
            line-height: 22px;
            width: 16%;
            padding: 0 0 14px 0;
          }
        }
      }
    }
    .decade-slide {
      .yearly-slide {
        .history-info {
          padding: 60px 0;
        }
      }
      .history-year-nav {
        padding: 15px 0;
      }
    }
  }
  footer {
    .nav-footer {
      .newsletter {
        .newsletter-title {
          font-size: 18px;
        }
        .newsletter-form {
          .btn-submit {
            line-height: 40px;
          }
        }
      }
    }
  }
  .page-title-wrapper {
    h1 {
      margin-top: 12px;
      margin-bottom: 10px;
    }
  }
  .panel-group {
    &.border-style {
      &.industry-panel { 
        .panel {
          .panel-heading {
            .panel-title {
              a {
                &.panel-heading-img {
                  line-height: 35px;
                  span {
                    top: 18px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .front {
    .slider {
      #home-slider {
        .owl-controls {
          bottom: 240px;
          .owl-dots {
            span {
              width: 14px;
              height: 14px;
            }
          }
        }
      }
    }
    .top-content-landing {
      .landing-scroll {
        bottom: 180px;
      }
    }
  }
  .btn {
    font-size: 18px;
    width: 160px;
    line-height: 35px;
  }
  .size-btn-back {
    font-size: 18px;
    width: 160px;
    line-height: 33px;
  }
  .trakindo-container-100 {
    padding:0 70px;
  }
  .container {
    width: 1160px;
  }
  header {
    height: 98px;
  }
  body {
    font-size: 14px;
    padding-top: 98px;
  }
  h1 {
    font-size: 60px;
    line-height: 65px;
  }
  h2 {
    font-size: 45px;
    line-height: 50px;
  }
  h3 {
    font-size: 30px;
    line-height: 36px;
  }
  h4,.size-h4 {
    font-size: 22px;
    line-height: 26px;
  }
  h5,.size-h5 {
    font-size: 18px;
    line-height: 24px;
  }

  .table.tbl-dev {
    font-size: 14px;
  }
  .panel-group {
    &.border-style {
      .panel {
        .panel-heading {
          .panel-title {
            a {
              font-size: 16px;
              line-height: 20px;
              min-height: 40px;
              padding-top: 10px;
              span {
                height: 20px;
                width: 20px;
                top: 11px;
                left: 14px;
                background-size: 20px;
              }
              &.collapsed {
                span {
                  background-size: 20px;
                }
              }
            }
          }
        }
        .panel-body{
          font-size: 14px;
        }
      }
    }
  }
  .table {
    &.tbl-spec {
      thead {
        tr {
          th {
            padding: 3px 15px;
          }
        }
      }
    }
  }
  .front {
    .slider {
      h1 {
        margin-top: 10px;
      }
      .featured {
        .featured-wrapper {
          .featured-item {
            .featured-text-wrapper {
              font-size: 15px;
              line-height: 22px;
              height: 60px;
              padding: 8px 8px;
            }
          }
        }
      }
    }
    .testimonial {
      font-weight: normal;
      .testimonial-content-wrapper {
        .testimonial-text {
          font-size: 24px;
        }
      }
    }
    .news {
      .news-item {
        min-height: 470px;
        .news-item-cat {
          font-size: 16px;
        }
      }
    }
  }
  .header {
    .logo {
      max-width: 165px;
      margin-right: 2%;
      padding: 12px 0px;
      img {
        max-width: 165px;
      }
    }
    li {
      padding: 20px 0;
    }
    a {
      font-size: 18px;
    }
    .nav-menu  {
      li {
        a {
          font-size: 18px;
          padding: 25px 13px;
        }
        ul {
          li {
            a {
              font-size: 14px;
              padding: 10px 13px;
            }
          }
        }
      }
      & >li {
        & > ul {
          margin-top: 33px;
          li {
            ul {
              top: -8px;
            }
          }
        }
      }
    }
    .nav-right {
      .nav-right-item {
        &.nav-lang {
          li {
            a {
              font-size: 14px;
              line-height: 24px;  
            }
            &.active {
              font-size: 14px;
              line-height: 24px;  
            }
          }
          .separator {
            font-size: 18px;
            padding: 19px 0;
          }
        }
      }
    }
    .top-title-page {
      h1 {
        margin-top: 15px;
        margin-bottom: 15px;
      }
      .top-title-text {
        h1 {
          font-size: 30px;
          line-height: 30px;
          margin-top: 45px;
          margin-bottom: 10px;
        }
        p {
          font-size: 12px;
        }
      }
    }
  }
  .size-breadcrumb {
    font-size: 12px;
  }

  .size-helper {
    font-size: 12px;
  }

  .breadcrumb {
    &>li {
      a {
        border: 1px solid #ccc;
        padding: 6px 12px;
        margin-top: 15px;
      }
    }
    &>li {
      &.active {
        span {
          padding: 6px 12px;
        }
      }
    }
    &.single {
      height: 60px;
    }
  }
  ul.admin-menu {
    margin: 15px 0;
    li {
      a {
        padding:6px 12px;
      }
    }
  }
  .career-landing-wrapper {
    .landing-content-wrapper {
      .landing-submenu {
        .landing-sub-item {
          .sub-text-wrapper {
            .sub-text-yellow {
              font-size: 18px;
            }
            .sub-text-white {
              a {
                font-size: 20px;
              }
            }
          }
        }
      }
    }
  }
  .sort-by {
    font-size: 12px;
    ul {
      li {
        padding: 6px;
      }
    }
  }

  .right-contact {
    .popup-call-center {
      top: 85px;
      width: 350px;
      background-color: $color-primary-black;
      .big-number {
        line-height: 85px;
        width: 245px;
      }
    }
    .right-contact-item {
      width: 85px;
      height: 85px;
      &.call-center {
        &:hover,
        .box-slide {
          width: 350px;
        }
        .contact-icon {
          font-size: 24px;
          margin-top: 0;
        }
      }
      .contact-text {
        font-size: 14px;
        line-height: 14px;
      }
      .find-us {
        .contact-icon {
          margin-bottom: 5px;
          margin-top: 5px;
        }
      }
      .right-raq {
        .contact-icon {
          margin-bottom: 5px;
          margin-top: 5px;
          .icon-img {
            width: 18px;
            height: 18px;
          }
        }
      }
    }
  }
  .product-count {
    font-size: 14px;
  }
  .product-list {
    .product-item {
      min-height: 485px;
      .product-name {
        h5 {
          font-size: 16px;
        }
      }
      .product-image {
        min-height: 132px;
        margin-bottom: 10px;
        text-align: center;
        img {
          max-height: 132px;
        }
        .promotion-badge {
          font-size: 10px;
        }
      }
      .product-detail {
        min-height: 154px;
        font-size: 12px;
        .title {
          margin-top: 6px;
        }
      }
    }
  }
  .filter {
    .checkbox {
      label {
        font-size: 12px;
        line-height: 12px;
      }
    }
    .facet-item {
      label {
        font-size: 14px;
      }
    }

    .panel-group {
      .panel {
        .panel-heading {
          .panel-title {
            a {
              min-height: 50px;
              font-size: 16px;
              padding: 15px 15px 5px 40px;
              span {
                width: 24px;
                height: 24px;
                background-size: 24px;
              }
            }
          }
        }
      }
    }
  }
  .btn {
    &.btn-product {
      height: 28px;
      line-height: 28px;
      font-size: 16px;
    }
  }
  .detail-header {
    .promotion-share { 
      .promotion {
        .promotion-badge {
          font-size: 14px;
        }
      }
      .product-share {
        a {
          &.social-icon {
            width: 30px;
            height: 30px;
            font-size: 14px;
            line-height: 30px;
          }
        }
      }
    }
  }
  footer {
    padding-bottom: 18px;
    .nav-footer {
      .nav-footer-link {
        li {
          a {
            font-size: 17px;
          }
        }
      }
      .footer-social {
        a {
          width: 40px;
          height: 40px;
          font-size: 20px;
          line-height: 40px;
        }
      }
      .copyright {
        font-size: 14px;
      }
      .newsletter {
        .newsletter-title {
          font-size: 22px;
        }
        .newsletter-form {
          input[type=text] {
            font-size: 14px;
          }
        }
      }
    }
    .logo-built {
      width: 120px;
    }
  }
  .top-content-landing { 
    &.relative {
      height: 100%;
    }
    .text-desc {
      margin-top: 0px;
      margin-bottom: 0px;
      line-height: 60px;
    }
    .landing-content-wrapper {
      top: 4%;
    }
  }

  .scroll-down {
    .scroll-down-container {
      width: 300px;
      img {
        height: 35px;
      }
      .scroll-text {
        font-size: 12px;
        line-height: 35px;
      }
    }
  }
  .product-thumb-container {
    &.col-md-4 {
      width: 50%;
    }
    &.col-md-offset-1 {
      padding-left: 0;
      margin-left: 0;
    }
  }
  .grid-list {
    .grid-item {
      max-height: 482px;
      .grid-item-cat {
        font-size: inherit;
      }
      .grid-item-desc {
        font-size: inherit;
      }
      .grid-item-date {
        font-size: inherit;
      }
    }
  }
  .single-post {
    .single-post-content {
      font-size: inherit;
      .post-slider-desc {
        font-size: 18px;
      }
    }
    .single-post-info {
      .single-post-meta {
        &.single-date-wrapper {
          font-size: 18px;
        }
      }
    }
  }
  .sort-by-wrapper {
    .result-info {
      font-size: inherit;
    }
  }
  ul {
    &.sort-by {
      li {
        .btn-group {
          &.lg {
            button {
              &.dropdown-toggle {
                font-size: 16px;
              }
            }
          }
        }
      }
    }
  }
  .management-page {
    .management-content {
      .management-commissioner {
        .board-commissioner {
          .commissioner-info {
            font-size: inherit;
          }
        }
      }
      .management-director {
        .board-director {
          .directore-list {
            .director-info {
              .director-title {
                font-size: inherit;
              }
              .director-resume {
                font-size: inherit;
              }
            }
          }
        }
      }
    }
  }
  .sidebar {
    .related-widget {
      .related-content {
        .related-content-title {
          font-size: 18px;
        }
      }
    }
  }
  .tab-container {
    ul.tab-nav {
      li {
        a {
          font-size: 18px;
        }
      }
    }
  }
  .search-box {
    bottom: 0;
    padding-right: 68px;
  }
  .about-footer {
    height: 316px;
    .footer-location-content {
      top: 20%;
    }
  }
  .single-post {
    .single-post-info {
      .single-post-meta {
        &.single-date-wrapper {
          font-size: 18px;
        }
      }
    }
  }
  .grid-list {
    .grid-item {
      h4 {
        min-height: 78px;
      }
    }
  }
  .promotion-popup-wrapper {
    &.show-down {
      top: 98px;
    }
  }

  .right-contact {
    .right-contact-item {
      &.call-center {
        .box-slide {
          .big-number {
            line-height: 74px;
          }
        }
      }
    }
  }
  .user-wrapper {
    .admin-menu {
      margin-bottom: 25px;
    }
  }
  .captcha-custom-wrapper {
    .captcha {
      img {
        width: 20%;
      }
      .form-item-captcha-response {
        width:78%;
      }
    }
  }
}

@media (max-width: 1366px) {
  .front {
    .slider {
      #home-slider {
        .owl-controls {
          .owl-dot {
            span {
              width: 10px;
              height: 10px;
            }
          }
        }
      }
    }
    .news {
      h3 {
        &.news-title {
          line-height: 23px;
        }

      }
    }
  }

  .right-contact {
      .popup-call-center {
        top: 74px;
        .big-number {
          line-height: 75px;
        }
      }
    .right-contact-item {
      padding: 4px;
      width: 75px;
      height: 75px;
      .contact-text {
        font-size: 12px;
      }
      &.call-center {
        .contact-number {
          font-size: 12px;
        }
        .contact-icon {
          font-size: 18px;
        }
      }
      &.right-live-chat {
        .contact-icon {
          margin: 13px auto 6px;
          i {
            font-size: 18px;
          }
        }
        .contact-notif {
          font-size: 10px;
          line-height: 20px;
          top: -14px;
          right: -11px;
          width: 22px;
          height: 22px;
        }
      }
      .right-raq {
        .contact-icon {
          .icon-img {
            width: 18px;
            height: 18px;
          }
        }
      }
      .find-us {
        .contact-icon {
          font-size: 18px;
        }
      }
    }
  }
  .about-footer {
    height: 303px;
    .footer-location-content {
      top: 19%;
    }
  }
  .right-contact {
    .right-contact-item {
      &.call-center {
        .box-slide {
          .big-number {
            line-height: 67px;
          }
        }
      }
    }
  }
}

@media (max-width: 1280px) {
  .section-landing {
    height: auto;
  }
}

@media (max-width: 1199px) {
  .top-content-landing {
    &.relative {
      height: auto;
    }
    .shadow-bg {
      /*height: auto;*/
    }
  }
  .container {
    width: 960px;
  }
  .result-content {
    li {
      a.btn {
        float: none;
        margin-top: 20px;
      }
    }
  }
  .compare-products {
    padding: 20px 0;
    .compare-btn {
      height: auto;
      padding: 23% 0 0;
    }
  }
}

@media (max-width: 1066px) {
  .header {
    .logo {
      margin-right: 1%;
    }
  }
}


@media (max-width: 1024px) {
  .history-page {
    .decade-slide {
      .history-year-nav {
        ul {
          li {
            font-size: 18px;
            line-height: 18px;
          }
        }
      }
      .yearly-slide {
        .history-info {
          .history-info-img {
            img {
              max-width: 365px;
            }
          }
          .history-info-desc {
            font-size: 18px;
          }
        }
      }
    }
  }
  .product-list {
    .product-item {
      min-height: 487px;
    }
  }
  .front {
    .slider {
      #home-slider {
        .owl-controls {
          bottom: 60px;
        }
      }
    }
    .top-content-landing {
      .landing-scroll {
        bottom: 120px;
      }
    }
    .news {
      h3{
        &.news-title {
          line-height: 18px;
        }
      }
    }
  }
  .btn {
    font-size: 16px;
    width: 170px;
    line-height: 30px;
  }
  .size-btn-back {
    width: 170px;
    line-height: 28px;
    font-size: 16px;
  }
  .trakindo-container-100 {
    padding: 0 30px;
  }
  .product-thumb-container {
    &[class^=col-md-4] {
      width: 25%;

    }
    &[class^=col-md-offset] {
      width: 0;
    }
  }
  .section-landing {
    .landing-content-bottom {
      .content-link {
        .landing-menu-container {
          a {
            font-size: 18px;
            height: 65px;
          }
        }
      }
    }
  }
  footer {
    .nav-footer {
      .newsletter {
        .newsletter-title {
          font-size: 18px;
        }
      }
    }
  }
  .front {
    .slider {
      height: auto;
      #home-slider {
        height: auto;
      }
      .featured {
        position: relative;
      }
    }
  }
  .header {
    .logo {
      padding: 19px 0;
      max-width: 170px;
      margin-right: 2%;
    }
    li {
      padding: 28px 0;
    }
    .nav-menu {
      li {
        a {
          font-size: 16px;
          padding: 32px 8px;
        }
      }
    }
    .nav-right {
      .nav-right-item {
        &.nav-lang {
          li {
            padding: 28px 0px;
            a {
              font-size: 14px;
              line-height: 24px;  
            }
            &.active {
              font-size: 14px;
              line-height: 24px;  
            }
          }
          .separator {
            font-size: 18px;
            padding: 26px 0;
          }
        }
      }
    }
    .nav-right {
      .nav-right-item{
        &.nav-lang {
          .separator {
            padding: 26px 0;
          }
        }
      }
    }
    .top-title-page {
      h1 {
        margin-top: 15px;
        margin-bottom: 15px;
      }
    }
  }
  body {
    font-size: 14px;
    padding-top: 110px;
  }
  h1 {
    font-size: 45px;
    line-height: 50px;
  }
  h2 {
    font-size: 30px;
    line-height: 36px;
  }
  h3 {
    font-size: 22px;
    line-height: 26px;
  }
  h4,.size-h4 {
    font-size: 18px;
    line-height: 24px;
  }
  h5,.size-h5 {
    font-size: 16px;
    line-height: 20px;
  }
  .panel-group {
    &.border-style {
      .panel {
        .panel-heading {
          .panel-title {
            a {
              font-size: 16px;
            }
          }
        }
      }
    }
  }
  .front {
    .slider {
      .featured {
        .featured-wrapper {
          .featured-item {
            .featured-text-wrapper {
              font-size: 14px;
            }
          }
        }
      }
    }
    .news {
      .news-item {
        .news-item-cat {
          font-size: 14px;
        }
      }
    }
  }
  .right-contact {
    top: 26.7%;
    .popup-call-center {
      top: 77px;
      width: 300px;
      min-height: 75px;
      background-color: $color-primary-black;
      .big-number {
        line-height: 75px;
        width: 215px;
      }
    }
  }
  #featuredSlider {
    .owl-item {
      .item {
        .featured-item {
          float: none;
          width: 100%;
        }
      }
    }
  }
  .search-box {
    bottom: -6px;
    right: 8px;
  }
  .single-post {
    .single-post-info {
      .single-post-meta {
        &.single-date-wrapper {
          font-size: 16px;
        }
      }
    }
  }
}

@media (max-width: 992px) {
  .history-page {
    .history-decade-nav {
      ul {
        &.nav {
          li {
            width: 90%;
            font-size: 20px;
            line-height: 20px;
          }
        }
      }
    }
    .decade-slide {
      .yearly-slide {
        &:first-child {
          .shadow-bg {
            display: block;
          }
        }
        .shadow-bg {
          position: relative;
          display: none;
        }
        .history-info {
          position: relative;
          background: $color-primary-black;
          .history-info-img {
            img {
              width: 100%;
              max-width: 100%;
              margin-bottom: 10px;
            }
          }
        }
      }
    }
    .js-main-history-pager {
      width: 80%;
      margin: 0 auto;
      .owl-stage-outer {
        z-index: 100;
        .owl-item {
          &.active {
            &:first-child {
              li {

              }
            }
          }
        }
      }
      .owl-controls {
        .owl-nav {
          position: absolute;
          width: 100%;
          margin-top: -14%;
          .owl-prev {
            display: inline-block !important;
            float: left;
            font-size: 3em;
            margin-left: -12%;
            background: transparent;
          }
          .owl-next {
            display: inline-block !important;
            float: right;
            font-size: 3em;
            margin-right: -12%;
            background: transparent;
          }
        }
        .owl-dots {
          display: none !important;
        }
      }
    }
  }
  .history-year-nav {
    display: none;
  }
  .page-title-wrapper {
    h1 {
      margin-top: 15px;
      margin-bottom: 10px;
    }
  }
  .panel-body {
    .inner-container {
      margin: 0;
    }
  }
  .container {
    width: auto;
  }
  .header {
    .logo {
      padding: 15px 0;
    }
    .page-title-wrapper {
      h1 {
        margin-bottom: 15px;
        margin-top: 15px;
      }
    }
  }
  header {
    height: 118px;
  }
  body {
    padding-top: 114px;
  }
  h1 {
    font-size: 30px;
    line-height: 36px;
  }
  h2 {
    font-size: 22px;
    line-height: 26px;
  }
  .top-title-page {
    h1 {
      font-size: 30px;
    line-height: 36px;
    }
  }

  .front {
    .slider {
      #home-slider {
        .owl-controls {
          bottom: 16%;
          .owl-dot {
            span {
              width: 10px;
              height: 10px;
            }
          }
        }
        .slider-text {
          .text-desc {
            font-size: 30px;
            line-height: 36px;
          }
        }
      }
      .featured {
        .featured-wrapper {
          .featured-item {
            .featured-text-wrapper {
              padding: 7px 15px 0;
              line-height: 18px;
            }
          }
        }
      }
    }
    .top-content-landing {
      .landing-scroll {
        bottom: 146px;
      }
    }
  }
  .header {
    .logo {
      margin-right: 10px;
      position: relative;
      left: 0;
      max-width: 200px;
      padding: 20px 0;
      @include transition (400ms all linear);
    }
    li {
      padding: 0;
    }
    ul.dl-menu {
      li {
        padding: 0 15px;
        a {
          padding: 15px 0;
          border-bottom: 1px solid $color-border-menu-mobile;
        }
      }
    }
    .nav-right {
      padding: 30px 0;
      .nav-right-item {
        &.nav-lang {
          li {
            padding: 4px;
            a {
              font-size: 14px;
              line-height: 14px;
            }
            &.active {
              font-size: 14px;
              line-height: 14px;
            }
          }
          .separator {
            padding: 0;
          }
        }
      }
    }
    button {
      &.btn-menu-mobile {
        position: relative;
        top: 17px;
        left: 20px;
        background-color: transparent;
        padding: 5px;
        width: 48px;
        height: 48px;
        border: none;
        z-index: 99;
        display: block;
        @include transition (400ms all linear);
        span {
          display: block;
          background-color: $color-white;
          margin-bottom: 8px;
          height: 5px;
          &:last-child {
            margin-bottom: 0;
          }
        }
        &:focus {
          border: none;
          outline: 0 none !important;
        }
      }
    }
     #dl-menu{
      z-index: 98;
      position: fixed;
      top: 30px;
      left: -300px;
      width: 300px;
      height: 100%;
      float: none;
      overflow-x: hidden;
      overflow-y: auto;
      display: block;
      background-color: $bg-menu-mobile;
      @include transition (400ms all linear);
      .dl-trigger {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 88;
        visibility: hidden;
      }
      .dl-menu {
        margin-top: 0;
        position: absolute;
        top: 0;
        left: 0;
        background-color: $bg-menu-mobile;
        li {
          padding: 0 15px;
          cursor: pointer;
          a {
            position: relative;
            padding: 15px 0;
          }
          ul.dl-submenu {
            background-color: $bg-menu-mobile;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            li {
              padding: 0 15px;
               &.sub-menu-title {
                background-color: $bg-sub-menu-header-mobile;
                padding: 0 15px;
                text-transform: uppercase;
                font-weight: 700;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%; 
                a {
                  font-family: $font-univers-bold;
                  color: $color-primary-yellow;
                  position: relative;
                  padding: 15px 0;
                  text-transform: uppercase;
                }
              }
              &.dl-back {
              margin-top: 50px;
              background-color: $bg-sub-menu-header-mobile;
                a {
                  padding-left: 24px;
                  border-top: 1px solid $color-border-menu-mobile;
                  border-bottom: none;
                  text-transform: capitalize;
                  font-weight: 400;
                  font-family: $font-body;
                }
                &:after {
                  position: absolute;
                  top: 14px;
                  left: 18px;
                }
              }
              a {
                text-transform: capitalize;
                font-weight: 400;
                font-family: $font-body;
                &:hover {
                  background-color: transparent;
                }
              }
            }
          }
        }
      }
      &.slide {
        left: 0;
      }
      .nav-top {
        position: absolute;
        top:-40px;
        left: 0;
        width: 100%;
        z-index: 99;
      }
    }
  }
  ul.nav-menu {
    display: none;
    &>li {
      &:nth-child(2) {
        &>ul {
          &>li {
            &>ul {
              @include columnCount(0);
            }
            &:nth-child(2), &:nth-child(3) {
              &>ul {
                @include columnCount(2);
              }
            }
          }
        }
      }
    }
  }
  body {
    @include transition (400ms all linear);
    position: relative;
    left: 0;
    &:before {
      content: "";
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $bg-black-transparent;
      z-index: 98;
      display: none;
    }
    &.slide {
      left: 300px;
      &:before {
        display: block;
      }
      header {
        .header {
          button {
            &.btn-menu-mobile {
              left: 20px;
              @include transition (400ms all linear);
            }
          }
        }
        &.slide {
          .header {
            button {
              &.btn-menu-mobile {
                left: 320px;
              }
            }
          }
          .logo {
            left: 290px;
          }
        }
      }
    }
  }
  .video-container {
    iframe {
      width: 500px;
      height: 300px;
    }
  }
  .panel-body {
    .inner-container {
      img {
        text-align: center;
        display: flex;
        padding : 10px;
        margin: 0px auto;
      }
    }
  }
  .product-list {
    .product-item {
      min-height: 0;
      padding-bottom: 55px;
      text-align: center;
      .product-image {
        .promotion-badge {
          font-size: 0.7em;
        }
        img {
          width: 70%;
          max-height: none;
        }
      }
      .product-action {
        .btn {
          &.btn-primary {
            &.btn-product {
              display: block;
            }
          }
        }
      }
    }
  }

  footer {
    .nav-footer {
      .newsletter {
        margin-top: 20px;
        .newsletter-title {
          font-size: 18px;
        }
      }
      .copyright {
        font-size: 12px;
      }
      .nav-footer-link {
        li {
          margin-right: 8px;
          a {
            font-size: 14px;
          }
        }
      }
    }
  }
  #dl-menu{
    z-index: 98;
    position: fixed;
    top: 30px;
    left: -300px;
    width: 300px;
    height: 100%;
    float: none;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: $bg-menu-mobile;
    @include transition (400ms all linear);
    .dl-trigger {
      position: fixed;
      top: 0;
      left: 0;
      z-index: 88;
      visibility: hidden;
    }
    .dl-menu {
      margin-top: 0;
      position: absolute;
      top: 0;
      left: 0;
      background-color: $bg-menu-mobile;x
      li {
        padding: 0;
        a {
          position: relative;
        }
        ul.dl-submenu {
          background-color: $bg-menu-mobile;
          position: absolute;
          top: 0;
          width: 100%;
          li {
            padding: 0;
          }
        }
      }
    }
    &.slide {
      left: 0;
    }
    .nav-top {
      position: absolute;
      top:-40px;
      left: 0;
      width: 100%;
      z-index: 99;
    }
  }

  //career
  .top-content-landing {
    .landing-content-wrapper {
      padding-top: 50px;
      padding-bottom: 50px;
      position: relative;
      z-index: 89;
      width: 100%;
      top:0;
      background-color: $color-primary-black;
      .landing-submenu {
        .landing-sub-item {
          float: none;
          img {
            max-width: inherit;
            width: 100%;
          }
        }
      }
    }
  }

  .section-landing {
    .content {
      &.container {
          position: relative;
          top: 0;
          left: inherit;
          @include translateX(0);
          z-index: 89;
      }
    }
    .bg {
      &.bg-left {
        &:before {
          display: none;
        }
      }
      &.bg-right {
        &:before {
          display: none;
        }
      }
      img {
        width: 100%;
        @include grayscale(100%);
      }
    }
    .landing-content-bottom {
      position: relative;
    }
    .product-thumb-container {
      display: none;
    }
  }
  .tab-container {
    ul.tab-nav {
      li {
        a {
          font-size: 16px;
        }
      }
    }
  }
  .top-content-landing {
    .landing-scroll {
      .landing-scroll-in {
        a {
          font-size: 14px;
          padding: 8px 8px 8px 40px;
          span {
            top: 6px;
            left: 16px;
            width: 14px;
            height: 14px;
            &:nth-of-type(2) {
              top: 13px;
            }
            &:nth-of-type(3) {
              top: 20px;
            }
          }
        }
      }
    }
  }
  .search-box {
    padding-right: 30px;
    right: 0;
    bottom: 12px;
    max-width: 695px;
    #btn-search-close {
      position: absolute;
      top: 48%;
      right: 5px;
      @include translateY(-50%);
      z-index: 98;
      color: #cccccc;
    }
  }
  .section-landing {
    height: auto;
  }
  .promotion-popup-wrapper {
    .promotion-popup-products {
      .close-link {
        right: 15px;
      }
    }
  }
  .btn-360 {
    display: none;
  }
  .right-contact {
    .right-contact-item {
      &.call-center {
        &:hover,
        .box-slide {
          width: 250px;
        }
      }
    }
  }
  .single-post {
    .single-post-content {
      .post-slider-desc {
        font-size: inherit;
      }
    }
  }
  .captcha-custom-wrapper {
    .captcha {
      img {
        width: 30%;
      }
      .form-item-captcha-response {
        width:68%;
      }
    }
  }
}
@media (max-width: 767px) {
  .history-page {
    .history-decade-nav {
      ul {
        &.nav {
          li {
            width: 90%;
            font-size: 16px;
            line-height: 16px;
          }
        }
      }
    }
    .js-main-history-pager {
      .owl-controls {
        .owl-nav {
          margin-top: -20%;
        }
      }
    }
  }
  div {
    &[class^="col-"] {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
  .btn {
    width: 100px;
    line-height: 30px;
    font-size: 14px;
  }
  .size-btn-back {
    width: 100px;
    line-height: 28px;
    font-size: 14px;
  }
  .btn-360 {
    bottom: 0;
  }
  .trakindo-container-100{
    width: 100%;
    padding: 0px;
  }
  header {
    height: 114px;
  }
  body{
    padding-top: 113px;
    &.slide {
      header {
        &.slide {
          .logo {
            left: 150px;
          }
        }
      }
    }
  }
  h1 {
    font-size: 22px;
    line-height: 26px;
  }
  .front {
    .slider {
      #home-slider {
        .slider-text {
          .text-desc {
            font-size: 22px;
            line-height: 26px;
          }
        }
      }
    }
  }
  .result-content {
    li {
      a.btn {
        float: none;
        margin-top: 20px;
      }
      dl.result-field-content {
        dt {
          margin-bottom: 0;
        }
        dd {
          margin-left: 0;
          margin-bottom: 5px;
        }
      }
    }
  }

  //mobile style
  .header {
    position: relative;
    padding: 0;
    .logo {
      margin: 0 auto;
      float: none;
      max-width: 200px;
      text-align: center;
    }
    li {
      padding: 0;
    }
    .nav-right {
      padding: 0;
      position: absolute;
      top: 0;
      right: 10px;
    }
    button {
      &.btn-menu-mobile {
        position: absolute;
        top: 18px;
        left: 20px;
        background-color: transparent;
        padding: 5px;
        width: 48px;
        height: 48px;
        border: none;
        z-index: 99;
        span {
          display: block;
          background-color: $color-white;
          margin-bottom: 8px;
          height: 5px;
          &:last-child {
            margin-bottom: 0;
          }
        }
        &:focus {
          border: none;
          outline: 0 none !important;
        }
      }
    }
    .top-title-page {
      h1 {
        margin-top: 25px;
        margin-bottom: 15px;
      }
    }
    #dl-menu {
      .dl-menu {
        li {
          .nav-lang {
            margin-top: 20px;
            li {
              padding: 0;
              width: 100px;
              height: 35px;
              line-height: 35px;
              background-color: $color-white;
              text-align: center;
              border-radius: 10px;
              &.active {
                background-color: $color-lang-mobile-bg;
                color: $color-lang-active;
                font-weight: 700;
                font-size: 16px;
              }
              &:first-child {
                margin-right: 5px;
              }
              a {
                border: 0;
                padding: 0;
                line-height: 35px;
                color: $color-primary-black;
                font-weight: 700;
                font-family: $font-body;
              }
            }
          }
        }
      }
    }
  }
  .front {
    .testimonial {
      .testimonial-content-wrapper {
        .testimonial-text p {
          font-size: 18px;
          line-height: 24px;
        }
      }
    }
    .slider {
      .featured {
        width: 100% !important; /* overwrite inline style form js */
        display: block;
        position: relative;
        .featured-wrapper  {
          .featured-item {
            float: none;
            position: relative;
            width: 100%;
            .featured-img {
              img {
                max-width: inherit;
                width: 100%;
              }
            }
            .featured-text-wrapper {
              font-size: 18px;
            }
          }
        }
      }
      #home-slider {
        .slider-text {
          position: relative;
          top: 0;
          left: 0;
          background-color: $color-primary-black;
          padding: 30px 30px 90px 30px;
          height: 400px;
          h1.text-yellow {
            margin-top: 0;
            font-size: 24px;
            line-height: 24px;
          }
          .text-desc {
            font-size: 36px;
            line-height: 48px;
          }
        }
        .owl-controls {
          bottom: 20px;
        }
      }
    }
  }

  //panel mobile
  .panel-group {
    &.border-style {
      &.industry-panel {
        .panel {
          .panel-heading {
            .panel-title {
              a {
                &.collapsed {
                  &.panel-heading-img {
                    img {
                      display: none;
                    }
                  }
                }
              }
            }
          }
          .panel-body {
            padding: 0 15px;
            .content-body {
              padding: 0;
              img {
                width: 100%;
                margin-bottom: 20px;
              }
            }
          }
        }
      }
    }
  }
  
  .nav-search-icon {
    position: absolute;
    top: 22px;
    right: 20px;
    a {
      i {
        font-size: 36px;
        color: $color-white
      }
    }
  }
  .news-item-img {
    img {
      max-width: inherit;
      width: 100%;
    }
  }
  footer {
    .nav-footer {
      padding-bottom: 75px;
      .nav-footer-link {
        @include column(80px 2);
        @include column-gap(30px);
        li {
          display: block;
        }
      }
    }
  }
  .right-contact {
    .popup-call-center {
      top: -70px;
      z-index: 102;
      left: 21%;
      right: auto;
      width: 200px;
      min-height: 70px;
      background-color: $color-primary-black;
      .big-number {
        line-height: 70px;
        width: 200px;
        font-size: 45px;
      }
    }
    position: fixed;
    top: inherit !important; /* overwrite inline style from js */
    margin-top: 0 !important; /* overwrite inline style from js */
    right: 0;
    z-index: 101;
    width: 100%;
    bottom: 0;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;

    align-items: center;

    .right-contact-item {
      width: 25%;
      flex-grow: 1;
      border-left: 1px solid $color-primary-black;
      padding: 0;
      height: 60px;
      position: relative;
      &:first-child {
        border-left: none;
      }
      .contact-text {
        display: none;
      }
      .contact-icon {
        position: absolute;
        margin: 0;
        top: 50%;
        left: 0;
        display: block;
        width: 100%;
        @include translateY(-50%);
      }
    }
    .right-contact-item {
      .find-us {
        padding: 0;
        .contact-icon {
          margin: 0;
        }
      }
    }
    .right-contact-item.right-live-chat {
      padding: 0;
      .contact-icon {
        margin: 0 auto;
        position: absolute;
        top: 50%;
        left: 50%;
        @include translate(-50%, -50%);
      }
    }
    .right-contact-item.call-center {
      padding: 0;
      .contact-icon {
        margin-bottom: 0;
      }
    }
    .right-contact-item {
      .right-raq {
        .contact-icon {
          margin: 0;
          .icon-img {
            width: 13px;
            height: 13px;
          }
        }
      }
    }
    .right-contact-item {
      &.call-center {
        width: 25%;
        overflow: visible;
        .box-slide {
          width: auto;
          background-color: $color-primary-yellow;
          overflow: visible;
          .big-number {
            width: 100%;
            height: auto;
            padding: 5px;
            line-height: 24px;
            position: absolute;
            right: 0;
            text-align: center;
            font-size: 24px;
            color: $color-primary-black;
            background-color: $color-primary-yellow;
            opacity: 0;
            display: none;
            bottom: 0;
            &.show {
              opacity: 0;
              display: block;
              bottom: 60px;
            }
          }
        }
        &:hover {
          width: 25%;
        }
      }
    }
  }
  //header mobile
  ul.header-mobile {
    margin: 0;
    padding: 30px 0;
    text-align: center;
    li {
      color: $color-white;
      padding: 0 24px;
      font-weight: 700;
      font-size: 24px;
      a {
        text-transform: capitalize;
        font-family: $font-body;
        font-weight: 400;
        i {
          font-size: 60px;
          vertical-align: middle;
          margin-right: 20px;
          margin-top: -4px;
        }
        &:hover {
          color: $color-primary-yellow;
        }
      }
      &.back {
        position: absolute;
        top: 50%;
        left: 0;
        @include translateY(-50%);
      }
    }
  }
  
  //table mobile
  .table {
    &.tbl-she {
      border: none;
      &>thead {
        tr {
          background-color: $section-border-color; 
          &>th {
            border: none;
            &:first-child {
              text-align: left;
            }
            &:first-child,
            &:nth-child(2),
            &:nth-child(3) {
              border-right: 1px solid $color-border-result-content;
            }
          }
        }
      }
      &>tbody {
        tr {
          &>td {
            border: none;
            &:first-child {
              text-align: left;
            }
            &:first-child,
            &:nth-child(2),
            &:nth-child(3) {
              border-right: 1px solid $color-border-result-content;
            }
          }
        }
      }
      &.table-striped {
        &>tbody {
          tr {
            &:nth-of-type(odd),
            &:nth-of-type(even) {
              background-color: $color-white;
            }
          }
        }
      }
    }
  }
  //she page mobile
  .she-page {
    h3 {
      margin-bottom: 15px;
    }
    .she-related-info {
      .she-related-title {
        margin-bottom: 15px;
      }
    }
    .she-certification-table {
      margin-bottom: 25px;
    }
  }
  //management page mobile
  .management-page {
    .management-header {
      .management-header-desc {
        display: none;
      }
    }
    .management-content {
      .management-commissioner {
        h3 {
          margin-bottom: 15px;
        }
        .board-commissioner {
          margin-bottom: 50px;
          .commissioner-row {
            margin: 0 -10px;
          }
          .commissioner-col {
            padding: 0 10px;
          }
          img {
            margin-bottom: 15px;
          }
          .commissioner-info {
            margin-bottom: 30px;
            font-size: 16px;
          }
        }
      }
      .management-director {
        h3 {
          margin-bottom: 15px;
        }
        .board-director {
          .directore-list {
            padding-bottom: 15px;
            &:last-child {
              margin-bottom: 50px;
            }
            img {
              margin-bottom: 15px;
            }
            .director-info {
              padding-left: 0;
              .director-title {
                font-size: 16px;
              }
              .director-resume {
                font-size: 16px;
              }
            }
          }
        }
      }
    }
  }
  .product-list {
    .product-item {
      min-height: 0;
      text-align: center;
      padding-bottom: 55px;
      .product-image {
        .promotion-badge {
          font-size: 10px;
        }
        img {
          width: 70%;
        }
      }
      .product-action {
        .btn {
          &.btn-primary {
            &.btn-product {
              display: block;
            }
          }
        }
      }
    }
  }
  .flexbox-container {
    display: block;
  }
  .dev-thumb {
    img {
      max-width: 100%;
    }
  }
  .inner-container {
    div[class^="col-"] {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
  .section-landing {
    .product-thumb-container {
      display: block;
      &.col-md-4 {
        width: 50%;
        padding-left: 10px;
        padding-right: 10px;
      }
    }
  }

  .tab-container {
    ul.tab-nav {
      li {
        a {
          font-size: 16px;
        }
      }
    }
 }
  .industry-page {
    .industry-service-list {
      .industry-service-img {
        text-align: center;
      }
    }
  }
  .search-box {
    bottom: 8px;
    max-width: inherit;
    padding: 10px 20px;
    z-index: 99;
    #btn-search-close {
      right: 23px;
    }
  }
  .single-post {
    .single-post-info {
      .single-post-meta {
        &.single-date-wrapper {
          font-size: 14px;
        }
      }
    }
  }
  .grid-list {
    .grid-item {
      h4 {
        min-height: 0;
      }
    }
  }

  .compar-item {
    margin-top: 20px;
  }
  .panel-group {
    &.compare {
      .panel {
        .panel-heading {
          .panel-title {
            a {
              padding: 13px 15px 7px 60px;
            }
          }
        }
      }
    }
  }
  .compare-products {
    &.show-up {
      bottom: 60px;
    }
    .compare-btn {
      display: block;
      padding-top: 0;
      margin-top: 20px;
      .btn {
        display: block;
        width: 100%;
      }
    }
  }
  #firstpopup {
    width: 90%;
  }
  .modal {
    .modal-dialog {
      width: 90%;
      margin: 10px auto;
    }
  }
  .captcha-custom-wrapper {
    .captcha {
      img {
        width: auto;
        float:none;
        margin-right: 0;
      }
      .form-item-captcha-response {
        width:auto;
        float: none;
      }
    }
  }
  footer {
    .newsletter-form {
      width: 100%;
    }
  }
  .table-responsive {
    border: 0;
  }
  .tbl-header-compare {
    .compare-item {
      width: 150px;
    }
  }
  .product-feature {
    .table.tbl-spec {
      tr {
        td {
          padding: 0;
          div {
            display: block;
            width: 150px;
            padding: 10px;
            white-space: normal;
            &.tbl-head {
              background-color: #f6f6f6;
              border-bottom: 1px solid #ddd;
            }
          }
        }
      }
    }
  }
  .maps-wrapper {
    .location-info {
      position: static;
      .location-info-wrapper {
        position: static;
        margin-bottom: 20px;
      }
    }
    .filter-container {
      padding: 0;
      .location-filter {
        position: static;
        width: auto;
      }
    }
  }
}