.btn {
  border: none;
  width: 200px;
  line-height: 40px;
  font-family: $font-univers-bold;
  font-size: 22px;
  padding: 0;
  &:focus,&:hover {
    outline: 0;
  }
  &.btn-360{
    font-weight: normal;
    border: 1px solid #ddd;
    font-size: 1em;
    position: absolute;
    bottom: 33px;
    z-index: 80;
  }
  &.btn-product {
    &:first-child {
      margin-bottom: 10px;
    }
    border: 1px solid #ddd;
    width: 100%;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
  }
  @include borderRadius(0);
  &.btn-back {
    color: $color-primary-black;
    border: 1px solid $color-grey;
    @include borderRadius(2px);
    width: auto;
    padding: 0 20px;
    .back-button-icon {
      padding-right: 15px;
      font-size: 16px;
    }
  }
  &.btn-primary {
    color: $color-primary-black;
    background-color: $color-primary-yellow;
    position: relative;
    &:hover{
      background-color: $color-primary-yellow;
      &:before {
        content: "";
        background-color: rgba(255,255,255,0.1);
        width: 100%;
        display: block;
        height: 100%;
        position: absolute;
      }
    }
    &:active {
      color: $color-primary-black;
      background-color: $color-primary-yellow;
      border: 0;
    }
    &:focus {
      color: $color-primary-black;
      background-color: $color-primary-yellow;
      border: 0;
    }
  }
  &.btn-default {
    color: $color-primary-black;
  }
  &.btn-white {
    background-color: $color-white;
  }
  &.btn-scroll {
    color: $color-btn-scroll;
    background-color: $bg-btn-transparent;
    @include borderRadius(200px);
    display: table;
    margin: 0 auto;
    font-weight: 700;
    width: auto;
    padding: 0 2%;
  }
  &.btn-black {
    color: $color-white;
    background-color: $color-primary-black;
    position: relative;
    &:hover{
      background-color: $color-primary-black;
      &:before {
        content: "";
        background-color: rgba(0,0,0,0.1);
        width: 100%;
        display: block;
        height: 100%;
        position: absolute;
      }
    }
    &:active {
      color: $color-white;
      background-color: $color-primary-black;
      border: 0;
    }
    &:focus {
      color: $color-white;
      background-color: $color-primary-black;
      border: 0;
    }
  }
  &.btn-block {
    width: 100%;
  }
  &[disabled] {
    pointer-events: none;
  }
}
.size-btn-back {
  width: 200px;
  line-height: 38px;
  font-size: 22px;
}