.form-group {
  margin-bottom: 0;
}
.form {
  .form-group {
    margin-bottom: 15px;
    span {
      font-weight: 700;
    }
  }
  .form-control {
    @include borderRadius(0);
    line-height: 48px;
    min-height: 48px;
    font-size: 1em;
    &:focus {
      box-shadow: none;
    }
    &.error {
      border-color: red;
    }
  }
}
.checkbox-custom-wrapper {
  legend {
    margin-bottom: 0;
    border: 0;
  }
  .checkbox {
    &.group-input {
      margin-top: 0;
      & > label {
        &:before {
          top: 16px;
        }
        label {
          padding-left: 15px;
        }
      }
    }
  }
}
.captcha-custom-wrapper {
  .captcha {
    img {
      display: block;
      float: left;
      width: 12%;
      margin-right: 2%;
    }
    .form-item-captcha-response {
      float: left;
      width:86%;
    }
  }
}