//color
$color-primary-yellow: #ffcc00;
$color-primary-black: #000000;

$color-nav-top-border: #c19e0f;
$color-nav-child-bg:  #141313;

$color-lang-active: #999999;
$color-lang-mobile-bg: #353535;

$color-white: #ffffff;
$color-grey: #cccccc;
$color-orange: #ff9900;
$color-red: #ff0000;
$color-copyright: #999999;
$color-facebook: #3b5998;
$color-linkedin: #007bb6;
$color-youtube: #bf221f;
$color-twitter: #1da1f2;
$color-promotion: #b10e0f;
$color-sortby-separator: #cccccc;
$color-sortby-button: #333333;
$color-result-field: #666666;
$color-border-result-content: #cccccc;
$color-border-black: #cccccc;
$color-border-menu-mobile: #3e3e3e;
$color-border-menu-mobile-second: #2d2b2b;
$color-btn-scroll: #cccccc;
$color-hover-darken: #f2c200;
$color-admin-menu: #eeeeee;

$color-list-border: #f2f2f2;

$color-news-bg: #f6f6f6;

$color-font-body: #333333;
$color-hr-black: #333333;
$color-font-category: #ff9900;

$bg-sub-menu-header-mobile: #231f21;
$bg-sub-text-wrapper: rgba(20,19,19,0.9);
$bg-btn-transparent: rgba(20,19,19,0.5);
$bg-black-transparent: rgba(0,0,0,0.5);
$bg-grey: #f6f6f6;
$bg-menu-mobile: #141213;
$bg-menu-language: #353535;
$section-border-color: #eeeeee;
$frame-border-color: #eeeeee;
$breadcrumb-color: #999999;

$upload-btn-border-color: #cccccc;
$upload-btn-color: #999999;

$slider_dot_inactive: #ababab;
$slider_dot_active: #ffffff;

$location-info-bg-color: #171717;

//font
$font-body: 'Arial', sans-serif;
$font-univers-bold: 'univers-bold', sans-serif;

